{% extends 'admin/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<link rel="stylesheet" href="/static/css/pages/admin/edit_user.css">
{% endblock%}

<script>
    var domain = "{{ domain() }}";
</script>

{% macro card(title='base', haschart=true, chartname='base', data="0") %}
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">{{ title }}</div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-0 me-2">{{ data }}</div>
        </div>
    </div>
    {% if haschart %}
    <div id="chart-{{ chartname }}" class="chart-sm"></div>
    {% endif %}
</div>
{% endmacro %}

{% block content %}
<script>
    var element = document.getElementById("navbar_users");
    element.classList.add("active");
</script>

<div class="page-wrapper">
    <!-- Page title -->
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="page-title" style="margin-top: 0; margin-bottom: 20px;">
                        Manage user
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="container-xl">
            {% if access_denied['higher_group'] == True %}
            <div class="card bg-red" style="color: white;">
                <div class="card-body text-left">{{ access_denied['err_msg']}}</div>
            </div>
            {% else %}
            <div class="card">
                <div class="user-info-card">
                    <div class="avatar-part-info">
                        <div class="user-info-avatar">
                            <a href="/u/{{ user_data['id'] }}"><img src="https://a.{{ domain() }}/{{ user_data['id'] }}" class="user-avatar"></a>
                        </div>
                    </div>
                    <div class="data-part-info">
                        <div class="user-info-group"> <!-- avatar, name, perm_group, status other info -->
                            <div class="group-item" style="margin-left: 12px;"><a href="/u/{{ user_data['id'] }}">{{ user_data['name'] }}</a></div>
                            <div class="group-divider"></div>
                            <div class="group-item"><span class="">perm_group</span></div>
                            <div class="group-divider"></div>
                            <div class="group-item">
                                {% if online_status == False %}
                                    offline
                                {% elif online_status == True %}
                                    online
                                {% else %}
                                    error
                                {% endif %}
                            </div>
                        </div>
                        <div class="info-divider"></div>
                        <div class="user-extra-info">
                            <div class="extra-item"><img src="/static/images/flags/{{ user_data['country']|upper }}.png" class="profile-flag"> {{ user_data['country'] }}</div>
                            <div class="extra-item">{{ user_data['email'] }}</div>
                            <div class="extra-item">Joined {{ user_data['creation_time'] }}</div>
                        </div>
                    </div>
                    <!-- <div class="user-divider"></div> -->
                </div>

                <div class="user-edit-card"> <!-- edit fields etc -->
                    <div class="actions-field">
                        <div class="main-actions">
                            <div class="input-fields-group">
                                <div class="input-container">
                                    <div class="input-title">Username</div>
                                    <div class="field-body">
                                        <div class="field">
                                          <p class="control">
                                            <input placeholder="username" class="input" type="text" name="username" value="{{ user_data['name'] }}">
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="input-title">AKA</div>
                                    <div class="field-body">
                                        <div class="field">
                                          <p class="control">
                                            <input placeholder="username" class="input" type="text" name="username_aka" value="{{ user_data['username_aka'] }}">
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="input-title">Email</div>
                                    <div class="field-body">
                                        <div class="field">
                                          <p class="control">
                                            <input placeholder="username" class="input" type="email" name="email" value="{{ user_data['email'] }}">
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="input-title">Country</div>
                                    <div class="field-body">
                                        <div class="field">
                                          <p class="control">
                                            <input placeholder="username" class="input" type="text" name="country" value="{{ user_data['country'] }}">
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-title">Quick actions</div>
                            <div class="quick-action-group">
                                <span onclick="example()" class="quick-action-item action-btn-safe">Clear Socials</span>
                                <span onclick="example()" class="quick-action-item action-btn-safe">Remove Banner</span>
                                <span onclick="example()" class="quick-action-item action-btn-safe">Remove pfp</span>
                                <span onclick="example()" class="quick-action-item action-btn-safe">Clear About</span>
                                <span onclick="example()" class="quick-action-item action-btn-safe">Private Profile</span>
                                <span onclick="example()" class="quick-action-item action-btn-safe">Clear Graphs</span>
                                <span onclick="example()" class="quick-action-item action-btn-dngr">Restrict User</span>
                                <span onclick="example()" class="quick-action-item action-btn-dngr">Wipe Account</span>
                                <!-- <span onclick="example()" class="quick-action-item action-btn-dngr">Example Button</span> -->
                            </div>
                        </div>
                        <div class="edit-divider"></div>
                        <div class="input-fields-group">
                            <div class="input-container">
                                <div class="input-title">User's privilege groups</div>
                                <div class="field-body">
                                    <div class="field">
                                      <p class="control">
                                        <input placeholder="privileges list" class="input" type="text" name="username" value="">
                                      </p>
                                    </div>
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-title">Add privileges</div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control">
                                            <select name="privileges" class="input">
                                                <option value="">Select privilege</option>
                                                <option value="Normal">Normal</option>
                                                <option value="Verified">Verified</option>
                                                <option value="Whitelisted">Whitelisted</option>
                                                <option value="Supporter">Supporter</option>
                                                <option value="Premium">Premium</option>
                                                <option value="Alumni">Alumni</option>
                                                <option value="Oguser">Oguser</option>
                                                <option value="Tournament">Tournament</option>
                                                <option value="Nominator">Nominator</option>
                                                <option value="Mod">Moderator</option>
                                                <option value="Admin">Admin</option>
                                                <option value="Donator">Donator</option>
                                                <option value="Staff">Staff</option>
                                            </select>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-button buttons mt-6">
                                <button class='button is-primary' type='submit'><span class='icon is-small'><i class='fas fa-check'></i></span><span>Save</span></button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function example() {
        confirm("Are you sure? This cannot be undone!");
    }
</script>
<script src="/static/js/asserts/vue-flags.js"></script>

{% endblock %}