{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/settings/style.css">

<div class="main-block">
  {% include "settings/sidebar.html" %}
  <div class="block-content right">
    <div id="general" class="single-right-block">
      <div class="right-block-header">
        User Infomation
      </div>
      <form action="/settings/profile" method="post" class="setting-block-content">
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Username</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" name="username"
                  value="{{ session.user_data['name'] }}" {% if not session.user_data['is_donator'] %}readonly{% endif %}>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Email</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="email" name="email" value="{{ session.user_data['email'] }}">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Platforms</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="platform-container">
              <button class="discord-btn"><i class="fa-brands fa-discord"></i><span>Connect</span></button>
              <button class="patreon-btn">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16.67px" height="14px" fill="white">
                        <path d="M512 194.8c0 101.3-82.4 183.8-183.8 183.8-101.7 0-184.4-82.4-184.4-183.8 0-101.6 82.7-184.3 184.4-184.3C429.6 10.5 512 93.2 512 194.8zM0 501.5h90v-491H0v491z"/>
                    </svg>
                </span>
                <span>Connect</span>
            </button>
            
            </div>
          </div>
        </div><div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Occupation</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" name="occupation_content" pattern="(?=.*[a-z]).{1,16}" placeholder="Eg. School" value="{{ session['user_data']['occupation_content'] }}">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Location</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" name="location_content" pattern="(?=.*[a-z]).{1,16}" placeholder="Eg. Amsterdam" value="{{ session['user_data']['location_content'] }}">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Interests</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" name="interest_content" pattern="(?=.*[a-z]).{1,16}" placeholder="Eg. Cats" value="{{ session['user_data']['interest_content'] }}">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Default Mode (wip)</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <select class="input rounded-lg h-10 pl-5 focus:bg-hsl-20 focus:outline-none pr-10 bg-hsl-15 hover:bg-hsl-20 appearance-none transition duration-300" onchange="changePreferred_Mode(this.value)">
                   <option value="0">Std</option>
                   <option value="1">Taiko</option>
                   <option value="2">Catch</option>
                   <option value="3">Mania</option>
                   <option value="4">Std +Relax</option>
                   <option value="5">Taiko +Relax</option>
                   <option value="6">Catch +Relax</option>
                   <option value="8">Std +AutoPilot</option>
                  </select>
                </p>
              </div>
            </div>
          </div>
        </div>
        {% if session.user_data['is_donator'] %}
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Private Profile (wip)</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="kankeraap" type="checkbox" name="priv_true">
                  <label>Yes</label>
                  <input class="kankeraap" type="checkbox" name="priv_false">
                  <label>No</label>
                </p>                
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Playstyle</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="kankeraap" type="checkbox" name="ps_tablet" {% if ps_tablet_checked %}checked{% endif %}>
                  <label>Tablet</label>
                  <input class="kankeraap" type="checkbox" name="ps_mouse" {% if ps_mouse_checked %}checked{% endif %}>
                  <label>Mouse</label><br>
                  <input class="kankeraap" type="checkbox" name="ps_keyboard" {% if ps_keyboard_checked %}checked{% endif %}>
                  <label>Keyboard</label>
                  <input class="kankeraap" type="checkbox" name="ps_touch" {% if ps_touch_checked %}checked{% endif %}>
                  <label>Touchscreen</label>
                </p>
              </div>
            </div>
          </div>
        </div>
        <button class='button is-primary' type='submit'><span>Save</span><span class='icon is-small'><i class='fas fa-check'></i></span></button>
      </form>
    </div>
  </div>
</div>

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Warning
          {% elif status=='success' %}
          Notice
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Uh oh! Be careful!
          {% elif status=='success' %}
          Hey! Listen!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
