.container-xl {
    display: flex;
    justify-content: unset;
}

.card {
    display: flex;
    background-color: hsl(var(--main), 1.4%, 15.5%);
    flex-direction: column;
    gap: 25px;
}

.left-part-info {
    display: flex;
    flex-direction: row;
}

.avatar-part-info {
    display: flex;
}

.data-part-info {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.user-info-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(var(--main), 10.7%, 24.7%);
    border-radius: 18px;
    padding: 12px;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 18px;
    align-items: center;
}

.user-info-group {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.user-extra-info {
    display: flex;
    flex-direction: column;
    background-color: hsl(var(--main), 10.7%, 24.7%);
    border-radius: 18px;
    padding: 0 12px;
}

.group-divider {
    background-color: hsl(var(--main), 90%, 55%);
    width: 3px;
    margin: 0 12px;
    align-self: center;
    height: 25px;
}

.info-divider {
    background-color: hsl(var(--main), 90%, 55%);
    width: 250px;
    align-self: center;
    height: 3px;
    margin-left: 10px;
}

.group-item {
    display: flex;
    font-size: 16px;
    color: #fff;
    height: fit-content;
}

.user-edit-card {
    background-color: hsl(var(--main), 10.7%, 24.7%);
    border-radius: 18px;
    padding: 24px 24px;
}

.actions-field {
    display: flex;
    flex-direction: row;
}

.main-actions {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 20px;
    min-width: 390px;
}

.input-fields-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 390px;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 15px;
    position: relative;
    text-align: left;
}

.input {
    border: 3px solid hsl(var(--main), 1.4%, 40%);
    background-color: hsl(var(--main), 10.7%, 15.7%);
}

.input:hover, .is-hovered.input, .is-hovered.textarea, .select select.is-hovered, .select select:hover, .textarea:hover {
    border-color: hsl(var(--main),15%,15%);
}

.quick-action-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.quick-action-item {
    transition: all 0.2s ease-in-out;
}

.quick-action-item:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.action-btn-safe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    min-height: 40px;
    background-color: rgb(126, 185, 38);
    padding: 4px 8px;
    color: #fff;
    border-radius: 8px;
    text-wrap: nowrap;
}

.action-btn-good {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    min-height: 40px;
    background-color: rgb(107, 91, 248);
    padding: 4px 8px;
    color: #fff;
    border-radius: 8px;
    text-wrap: nowrap;
}

.action-btn-dngr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    min-height: 40px;
    background-color: rgb(169, 29, 29);
    padding: 12px 6px;
    color: #fff;
    border-radius: 8px;
    text-wrap: nowrap;
}

.action-btn-safe,
.action-btn-good,
.action-btn-dngr {
    cursor: help !important;
}

.action-btn-safe:hover,
.action-btn-good:hover,
.action-btn-dngr:hover {
    cursor: help !important;
}

.edit-divider {
    display: flex;
    align-items: center;
    height: 480px;
    width: 7px;
    background-color: hsl(var(--main), 90%, 55%);
    margin: auto 25px;
    border-radius: 100px;
}

.card-pager {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-action-item button {
    background-color: transparent !important;
    color: #fff !important;
    font-size: 16px !important;
    border: 0px solid transparent !important;
    padding: 10px 8px !important;
    margin: 0 !important;
    min-height: 0px !important;
    cursor: help !important;
}