.gulag-avatar {
    background-image: url("/static/images/miyu.png");
    background-repeat: no-repeat;
    background-size: 100%; /* Reduce the background image size by 50% */
    /*     available avatar widths & heights      */
    /* gulag.png:   width: 512px; height: 363px;  */
    /* pippi.png:   width: 372px; height: 432px;  */
    /* miyu.png:   width: 521px; height: 773px;  */
    width: 286px; /* Adding 'px' unit */
    height: 420px; /* Adding 'px' unit */
    /* left: 50px; */
    margin: 0;
    padding: 0;
    position: relative;
}

/* .main-block{
    background-color: transparent !important;
    color: #fff;
    padding: 20px;
} */

.drilla-fix {
    display: unset !important;
}

.drillav2 {
    padding: 10px 0;
}

.main-block {
    background-color: transparent !important;
    color: #fff;
    padding: 20px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-block {
    background-color: hsl(var(--main), 1.4%, 22.5%);
    border-radius: 16px;
    padding: 30px;
    justify-content: center;
    display: grid;
}

.title-bg {
    background:
        linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%),
        linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
        url("/static/images/banner.jpg");
    background-size: cover;
}

.make-room {
    margin-bottom: 40px;
}

.login-section {
    display: flex;
    align-items: center;
}

.login-link {
    text-decoration: none;
}

.login-content {
    /* margin-top: 20px; */
}

.login-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.login-content ul li{
    margin: 35 0px;
    list-style-type: circle;
    color: #fff;
    font-size: 18px;
    /* margin: 0; */
}

.collumdis{
    flex-direction: column;
    padding: 21px 22px;
    position: relative;
    border-radius: 8px;
}

.title-block{
    height: 125px;
    display: flex;
    align-items: center;
    place-content: center;
    border-radius: 16px;
}

.icon-block{
    height: 125px;
    display: flex;
    align-items: center;
    place-content: center;
}

.selection-block{
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin: 5;
    border-radius: 7px;
    transition: 0.2s ease;
    background: hsl(var(--main),10%,25%);
}

.selection-block:hover{
    box-shadow: 1px 1px 13px -5px #000;
    transform: translateY(-5px);
}

.title:not(:last-child){
    margin-bottom: 1.5rem;
}

.title{
    text-align: center;
}

.subtitle{
    color: #e6a5b5;
    font-weight: 400;
    line-height: 1.25;
}

a.single-menu{
    color: inherit;
}

a.single-menu:hover{
    color: inherit;
}

input:focus{
    outline: 0;
}

button:focus{
    outline: 0;
}

.is-auth {
    width: 1000px;
    border-radius: 36px;
    /* justify-content: space-around; */
    /* display: flex; */
}

.dialog {
    font-size: 14px;
    margin-bottom: 10px;
}

.box {
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 1.75rem;
}

.box-fix {
    padding: 2.25rem 1.75rem;
}

input.input {
    height: 46px;
    width: 400px;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
    height: 46px;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(0, 128, 0, 0);
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media only screen and (max-width: 770px) {
    .is-auth {
        width: 500px;
    }
    .icon-block{
        height: 125px;
        display: none;
        align-items: center;
        place-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .is-auth {
        width: initial;
    }
    .icon-block{
        height: 125px;
        display: none;
        align-items: center;
        place-content: center;
    }
}

@media (max-width: 1399px) {
    .is-auth {
        max-width: 900px;
    }
}

@media (max-width: 1023px) {
    .is-auth {
        width: unset;
    }
    .box-login {
        display: none;
    }
    .drillav2 {
        display: none;
    }
    .login-box {
        padding: 2.25rem 0 2.25rem 1.75rem !important;
    }
}

@media (max-width: 767px) {
    .pm-reset {
        padding: 20 0 30 0!important;
    }
    .my-con {
        margin-top: 72px !important;
    }
    .main-block {
        position: unset !important;
        transform: unset !important;
    }
    .box {
        display: block;
        padding: 1.25rem;
    }
    .box-login {
        display: none;
    }
    .login-content {
        margin: 0;
    }
    .input-block {
        background-color: transparent;
        padding: 30px 0;
    }
    .register-block {
        display: none;
    }
    .make-room {
        margin: 0;
    }
    input.input {
        width: 250px;
    }
    .navbar-content {
        padding: 0 25px;
    }
    .drillav2 {
        display: none;
    }
    .login-box {
        padding: 1.25rem !important
    }
}