a,
a:hover {
  text-decoration: none !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.my-con {
  margin-bottom: 42px;
}

.main-block {
  background-color: hsl(var(--main), 1.4%, 15.5%);
  margin-top: 0;
  width: auto;
  border-radius: 0 0 8px 8px;
}

.leaderboard-banner {
  background:
        linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%),
        linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
        url("/static/images/banner.jpg");
  background-size: cover;
  height: 194px;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.leaderboard-country-block {
  background: hsl(var(--main), 10.7%, 24.7%);
  border-radius: 8px;
}

.leaderboard-pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager-btn {
  margin: 12px 6px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: hsl(var(--main), 90%, 55%);
  width: 32px;
  height: 32px;
  color: white;
}

.country-selector {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  color: #fff;
  font-size: 14px;
  justify-content: center;
  position: relative;
}

.country-btn {
  text-align: center;
  border-radius: 8px;
  transition: all .2s ease;
  cursor: pointer;
  padding: 5px;
  margin: 2px;
  line-height: 0;
  margin-right: 12px;
}

.country-selector {
  position: relative;
}

.country-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.country-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.country-modal-content {
  background-color: hsl(var(--main), 1.4%, 15.5%);
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #fff;
}

.country-list li {
  background-color: hsl(var(--main), 10.7%, 24.7%);
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 6px;
}

.country-list:lastchild li {
  margin-bottom: 0 !important;
}

.country-list li:hover {
  background-color: hsl(var(--main), 20%, 30%);
}

.country-modal-content::-webkit-scrollbar {
  width: 12px;
  background-color: hsl(var(--main), 10%, 25%);
  border-bottom-right-radius: 8px;
}

.country-modal-content::-webkit-scrollbar-track {
  background-color: hsl(var(--main), 10%, 25%);
  border-radius: 8px;
}

.country-modal-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: hsl(var(--main), 15%, 40%);
}

.country-modal-content::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--main), 15%, 80%);
}

.country-flag {
  width: 30px;
  height: auto;
  margin-right: 10px;
  border-radius: 3px;
}

.country-name {
  font-size: 15px;
}

.country-btn.active {
  cursor: default;
  background: hsl(var(--main), 90%, 55%);
}

.country-btn:hover {
  transform: translateY(-5px);
}

.country-btn:last-child {
  margin-right: 0;
}

.country-btn img {
  display: inline-block;
  background-size: 100%;
  /* margin-right: 4px; */
  width: 50px;
  border-radius: 7px;
  /* margin-bottom: -6px; */
  transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;
}

.country-btn i {
  height: 15;
  color: #fff;
  width: 50px;
}

.profile-panel {
  position: absolute;
  display: flex !important;
  width: 275px;
  height: 100px;
  z-index: 610;
  opacity: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: -63px;
  margin-left: 150px;
  color: white;
  background-color: hsl(var(--main), 10%, 20%);
  transition: 200ms opacity, 200ms visibility;
  transition-delay: 0s, 0s;
  transition-delay: 250ms;
  line-height: 1.35;
  visibility: visible;
}

.profile-panel-background {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  position: absolute !important;
  z-index: -1;
  background-size: cover !important;
  background-position-y: center !important;
}

.profile-panel > div {
  position: relative;
}

.profile-panel-avatar {
  border-radius: 8px;
  margin-left: 10px;
  height: 72px;
  width: 72px;
  background-size: cover;
  background-position: center;
}

.profile-panel-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 8px;
}

.profile-panel-info .name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-right: 12px;
  text-align: left;
}

.profile-panel-info .activity {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-right: 12px;
  text-align: left;
}

.profile-panel-info .badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.56);
  height: fit-content;
  padding: 4px;
  width: fit-content;
}

.leaderboard-column {
  background-color: #eee;
  color: #222;
  height: 44px;
  font-size: 12px;
  background-color: hsl(var(--main), 15%, 25%);
  border-radius: 0 8px 0 8px;
}

.leaderboard-first-child {
  background-color: #eee;
  color: #222;
  height: 144px;
  font-size: 12px;
  background-color: hsl(var(--main), 15%, 25%);
  border-radius: 18px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-size: cover !important;
  background-position-y: center !important;
  box-shadow: 0px 0px 15px 0px #ffd7005c;
}

.first-player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.first-player-name {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  transition: 240ms;
}

.fplayer-name {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  transition: 240ms;
}

.fplayer-name:hover {
  transform: translateY(-3px);
  transition-duration: 140ms;
}

.first-pp-count, .first-acc-count {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  max-width: 125px;
}

.score-count {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  max-width: 125px;
}

.first-player-rank {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  /* max-width: 125px; */
}

.first-pp, .first-acc {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.first-player-country {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.rank-content {
  flex: 0;
  text-align: center;
}

.left-content {
  flex: 1;
  text-align: center;
}

.right-content {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.filler-content {
  min-width: 35.08px;
}

.middle-content {
  flex: 0;
  text-align: center;
}

.first-player-avatar {
  display: inline-block;
  background-size: 100%;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 5px solid hsl(var(--main), 90%, 55%);
  margin-right: auto;
  margin-left: auto;
  transition: transform 340ms cubic-bezier(0.25, 0.1, 0.25, 1),
  box-shadow 340ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.first-player-avatar:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px 0.1px hsl(var(--main), 90%, 55%);
  transition-duration: 340ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.leaderboard-main-bg {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 24px 24px;
}

.leaderboard-table {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  border-spacing: 0 5px;
  border-collapse: separate;
  padding-bottom: 24px;
  transition: 0.2s ease;
}

tr td {
  padding: 6px 0;
}

.column-player-rank {
  padding: 0 10px;
  text-align: center;
  background-color: hsl(var(--main), 15%, 27%) !important;
  min-width: 44px;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  border-radius: 8px 0 0 8px;
}

.column-player-name {
  padding: 10px 10px;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
}

.player-avatar {
  display: inline-block;
  background-size: 100%;
  margin-right: 10px;
  width: 34px;
  height: 31px;
  margin-bottom: -10px;
  transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;
  border-radius: 5px;
}

.column-player-name a {
  color: #fff !important;
}

.t-heading {
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  padding: 5px 12px;
  text-align: center !important;
  font-size: 12px;
}

.t-heading--main {
  width: 100%;
}

.t-column:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.t-column:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

tr.leaderboard-column td {
  font-weight: 600;
  border-bottom: hsl(var(--main), 10.7%, 24.7%);
  transition: 0.1s background-color;
  color: #fff !important;
  vertical-align: middle;
  text-align: center;
}

.leaderboard-column:nth-child(1) .column-player-rank {
  color: rgb(192, 192, 192) !important;
}

.leaderboard-column:nth-child(2) .column-player-rank {
  color: rgb(251 184 140) !important;
}

tr.leaderboard-column td:last-child {
  border-radius: 0 8px 8px 0;
}

table td,
table th {
  vertical-align: baseline;
}

.leaderboard-column:hover td:not(:first-child) {
  background-color: hsl(var(--main), 20%, 30%);
}

.main-banner {
  background-size: cover;
  display: flex;
  background-position-x: 50%;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  justify-content: space-between;
  position: relative;
  padding: 0px 36px;
  height: 232px;
}

.main-banner > * {
  z-index: 2;
}

.banner-text {
  text-align: center;
  font-size: 46px;
  color: #fff;
  font-weight: 600;
}

.selected-country {
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.main-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  z-index: 1;
}

.main-selector {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: 42px;
  color: #fff;
  font-size: 14px;
  justify-content: center;
  position: relative;
}

.mode-select {
  cursor: pointer;
  text-align: center;
  padding-bottom: 2px;
  margin-right: 12px;
  color: #fff;
  font-size: 15px;
  margin-left: 12px;
  opacity: 0.7;
  transition: 0.2s ease;
  content: center;
}

.mode-select:hover {
  border-bottom-width: 3px;
  opacity: 1;
  color: #fff;
}

.selector {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 27px;
  z-index: 2;
  width: 100%;
}

.selector .right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.selector .left {
  display: flex;
  flex-direction: row;
}

.simple-banner-switch {
  color: #fff !important;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
  padding: 0 12px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
  margin: 10px 8px;
  padding: 6px 16px;
}

.simple-banner-switch:hover {
  opacity: 1;
}

.mode-select.active,
.simple-banner-switch.active {
  border-bottom-width: 6px;
  opacity: 1;
  font-weight: 600;
  background: rgba(30, 30, 30, .52);
  border-radius: 32px;
}

.main-selector {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.leaderboard-table > tbody {
  transition: 0.2s opacity;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.2;
}

@media (max-width: 576px) {
  .mode-icon {
    display: none;
  }
  .main-banner {
    padding: 0px 12px;
  }
  .banner-text {
    font-size: 36px;
  }
}

.player-flag {
  display: inline-block;
  background-size: 100%;
  margin-right: 4px;
  width: 34px;
  height: 23px;
  margin-bottom: -6px;
  transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;
  border-radius: 2px;
}

.flag-dropdown {
  margin-top: -41px;
  margin-left: -41px;
}
.popover-body, .tooltip-inner, .flag-dropdown {
  font-size: 12px;
}
.flag-dropdown, .noUi-tooltip {
  background-color: hsl(var(--main), 15%, 5%) !important;
  filter: opacity(0.95);
  border-radius: 4px;
  padding: 5px;
  color: white;
  font-size: 13px;
  position: absolute;
  padding-left: 14px;
  padding-right: 14px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s visibility, 0.3s opacity;
  min-width: 110px;
  max-width: 143px;
  width: max-content;
  text-align: center;
  font-weight: 600;
  font-style: normal;
}
.user-flag:hover>.flag-dropdown, .player-flag:hover>.flag-dropdown {
  visibility: visible;
  opacity: 1;
}



@media (max-width: 767px) {
  body {
    width: 162%;
  }
  #app {
  width: unset;
  transition: 0.2s ease; /* for responsive animation */
  }
  .first-player-name {
    font-size: 22px;
  }
  .fplayer-name {
    font-size: 22px;
  }
  .first-pp-count, .first-acc-count {
    font-size: 22px;
  }
  .right-content {
    flex-direction: column;
    gap: 0px;
  }
}