{% extends 'base.html' %}
{% block title %} Beatmap {% endblock %}

{% block header %}

<meta property="og:image" content="https://assets.ppy.sh/beatmaps/{{ beatmap_data['set_id'] }}/covers/raw.jpg"/>
<meta property="og:title" content="{{ beatmap_data['artist'] }} - {{ beatmap_data['title'] }} [{{ beatmap_data['version'] }}]">
<meta property="og:url" content="https://{{ domain() }}/score/b/{{ beatmap_data['id'] }}">
<meta property="og:image:width" content="300"/>
<meta property="og:image:height" content="300"/>
<meta property="og:description" content="beatmap leaderboard for {{ beatmap_data['artist'] }} - {{ beatmap_data['title'] }} [{{ beatmap_data['version'] }}] ~ view more details on komako">
<meta name="theme-color" content="#FF00FF">

<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<audio id="BeatmapAudio" src="https://b.ppy.sh/preview/{{ beatmap_data['set_id'] }}.mp3" preload="auto"></audio>
<script>
    var mode = "std";
    var mods = "vn";
    var sort = "{{ sort }}";
    var domain = "{{ domain() }}";

    var myAudio = document.getElementById("BeatmapAudio");
    var previewIcon = $("#preview-icon");
    var isPlaying = false;
    myAudio.volume = 0.15;

    function togglePlay() {
				if (isPlaying) {
					myAudio.pause()
                    document.getElementById("preview-icon").classList.remove('fa-pause');
					document.getElementById("preview-icon").classList.add('fa-play');
				} else {
					myAudio.play();
                    document.getElementById("preview-icon").classList.remove('fa-play');
					document.getElementById("preview-icon").classList.add('fa-pause');
				}
			};
            myAudio.onplaying = function() {
				isPlaying = true;
			};
			myAudio.onpause = function() {
				isPlaying = false;
			};

			myAudio.addEventListener("ended", function(){
				myAudio.currentTime = 0;
                    document.getElementById("preview-icon").classList.remove('fa-pause');
					document.getElementById("preview-icon").classList.add('fa-play');
			});

</script>

<link rel="stylesheet" href="/static/css/pages/beatmap.css">

<style>
.leaderboard-banner {
    background: linear-gradient(hsl(var(--main), 300%, 15%, 25%), hsl(var(--main), 10%, 15%)), url(https://assets.ppy.sh/beatmaps/{{ beatmap_data["set_id"] }}/covers/cover@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
</style>
{% endblock %}

{% block content %}
<div id="app" :class="(load ? 'load' : '')">
    <div class="leaderboard-banner main-banner">
        <div class="main-selector selectmode">
            <div class="top-right">
                <div class="select-right">
                    <a class="mode-select" v-bind:class="{ 'active': mode === 'std' }"
            @click="LoadLeaderboard(sort, 'std', mods)">
                <i class="mode-icon mode-osu"></i><span class="modetext"> osu!</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'taiko', 'disabled': mods === 'ap' }"
            @click="LoadLeaderboard(sort, 'taiko', mods)">
                <i class="mode-icon mode-taiko"></i><span class="modetext"> osu!taiko</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'catch', 'disabled': mods === 'ap' }"
            @click="LoadLeaderboard(sort, 'catch', mods)">
                <i class="mode-icon mode-catch"></i><span class="modetext"> osu!catch</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'mania', 'disabled': mods === 'ap' || mods === 'rx' }"
            @click="LoadLeaderboard(sort, 'mania', mods)">
                <i class="mode-icon mode-mania"></i><span class="modetext"> osu!mania</span>
            </a>
            </div>
        </div>
    </div>
        <div class="map-info">
            <div style="margin: 5px 0 10px 0;"></div>
            <div class="map-name">
                <span style="font-size: 24px; font-weight: 700;">{{ beatmap_data["title"] }}
                    <i v-if="{{ beatmap_data['status'] }} === 0" class="fas fa-question" style="color: #ffffff; font-size: 0.9em; margin-right: 20px;"></i>
                    <i v-if="{{ beatmap_data['status'] }} === 2" class="fa-solid fa-angles-up" style="color: #0080ff; font-size: 0.9em; margin-right: 20px;"></i>
                    <i v-if="{{ beatmap_data['status'] }} === 3" class="fas fa-check" style="color: #00cc00; font-size: 0.9em; margin-right: 20px;"></i>
                    <i v-if="{{ beatmap_data['status'] }} === 5" class="fas fa-heart" style="color: #ff69b4; font-size: 0.9em; margin-right: 20px;"></i></span>
                <span style="font-size: 16px;">{{ beatmap_data["artist"] }}</span>
                <span style="font-size: 12px;">[{{ beatmap_data["version"] }}], mapped by {{ beatmap_data["creator"] }}</span>
                <div style="margin: 5px 0 10px 0;"></div>
                <!--{% for map in set_data %}
                <a class="mode-select" v-bind:class=""
                @click="LoadLeaderboard(sort, 'std', mods, {{ map.id }})">
                    <i class="mode-icon mode-osu"></i><span class="diff-name">{{ map.version}}</span>
                </a>
                {% endfor %}-->
            </div>
        </div>
        <div class="main-selector selectmode">
            <div class="top-right">
                <div class="select-right">
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'vn' }"
                @click="LoadLeaderboard(sort, mode, 'vn')">Vanilla</a>
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'rx', 'disabled': mode === 'mania' }"
                @click="LoadLeaderboard(sort, mode, 'rx')">Relax</a>
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'ap', 'disabled': mode === 'taiko' || mode === 'catch' || mode === 'mania'  }"
                @click="LoadLeaderboard(sort, mode, 'ap')">Autopilot</a>
            </div>
        </div>
    </div>
        <div class="map-info download-buttons">
            <a :href="'https://chimu.moe/d/' + {{ beatmap_data['set_id'] }}" class="pagination-prev-page"><i class="fa-solid fa-download"></i></a>
            <a :href="'osu://dl/' + {{ beatmap_data['set_id'] }}" class="pagination-prev-page"><i class="fas fa-star"></i></a>
            <a :href="'https://osu.ppy.sh/beatmaps/' + {{ beatmap_data['id'] }}" class="pagination-prev-page"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            <a onclick="togglePlay()" class="pagination-prev-page"><i class="fa-solid fa-play icon" style="width: 18px !important; height: 6px !important; align-items: center !important; display: inline-flex !important; justify-content: center !important;" id="preview-icon"></i></a>
        </div>
    </div>
    <div class="main-block">
        <div class="leaderboard-main-bg table-responsive">
            <div v-if="boards.length != undefined && boards.length != 0">
                <table class="leaderboard-table table-responsive">
                    <thead>
                        <tr>
                            <th class="t-heading"> Rank </th>
                            <th class="t-heading t-heading--main">  </th>
                            <th v-if="sort == 'pp' || sort == 'rscore'" class="t-heading table--selected">
                                <% (sort=='pp' ? "PP" : "" ) %>
                                    <% (sort=='rscore' ? "Score" : "" ) %>
                            </th>
                            <th class="t-heading"> Score </th>
                            <th class="t-heading"> Accuracy </th>
                            <th class="t-heading"> Combo </th>
                            <th class="t-heading"> 100 </th>
                            <th class="t-heading"> 50 </th>
                            <th class="t-heading"> Miss </th>
                            <th class="t-heading"> Mods </th>
                            <th class="t-heading"> PP   </th>
                            <th class="t-heading"> Grade </th>
                            <th class="t-heading"> Date </th>
                            <th class="t-heading"> Details   </th>
                        </tr>
                    </thead>
                    <!-- #1 spot seperate -->
                    <div class="leaderboard-first-child" :style="'background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%), linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://{{ domain() }}/banners/' + boards[0].userid + '); background-size: cover; background-position-y: center;'"> <!-- stop trying to paste loser lol -->
                        <div v-if="boards.length > 0" class="first-player-container">
                            <div class="rank-content">
                                <div class="first-player-rank">#1</div>
                                <a class="first-player-grade" :style="'background-image: url(/static/images/ranks/' + boards[0].grade + '_rank.png)'"></a>
                            </div>
                            <div class="middle-content">
                                <div class="first-player-name">
                                    <a class="first-player-avatar" :href="'/u/' + boards[0].userid" 
                                        :style="'background-image: url(https://a.{{ domain() }}/' + boards[0].userid + ')'">
                                    </a>
                                </div>
                            </div>
                            <div class="left-content">
                                <div class="first-player-name">
                                    <a class="fplayer-name" :href="'/u/' + boards[0].userid"><% boards[0].player_name %></a>
                                </div>
                                <div class="first-player-ago">
                                    <span><% timeFirstReplace(boards[0].play_time) %> ago</span>
                                </div>
                                <div class="first-player-country">
                                    <a :title="flags[boards[0].country.toUpperCase()]" :style="'background-image: url(/static/images/flags/' + boards[0].country.toUpperCase() + '.png)'" class="player-flag">
                                        <div class="flag-dropdown">
                                            <% getCountryName(boards[0].country.toUpperCase()) %>
                                        </div>
                                    </a>
                                    <span class="first-country-name"><% getCountryName(boards[0].country.toUpperCase()) %></span>
                                </div>
                            </div>
                            <div class="right-content">
                                <div class="first-top-row">
                                    <div class="first-acc-count">
                                        <% scoreFormatFirstPlace(boards[0].score) %>
                                        <span class="first-pp">Total Score</span>
                                    </div>
                                    <div class="first-acc-count">
                                        <% Number(boards[0].acc).toFixed(2) %>%
                                        <span class="first-pp">Accuracy</span>
                                    </div>
                                    <div class="first-acc-count score-mods">
                                        <% boards[0].max_combo %>x
                                        <span class="first-pp">Max Combo</span>
                                    </div>
                                </div>
                                <div class="first-bottom-row"> 
                                    <div class="first-bottom-txt">
                                        <% boards[0].n300 %><br>
                                        <span class="first-pp">300</span>
                                    </div>
                                    <div class="first-bottom-txt">
                                        <% boards[0].n100 %><br>
                                        <span class="first-pp">100</span>
                                    </div>
                                    <div class="first-bottom-txt">
                                        <% boards[0].n50 %><br>
                                        <span class="first-pp">50</span>
                                    </div>
                                    <div class="first-bottom-txt">
                                        <% boards[0].nmiss %><br>
                                        <span class="first-pp">Miss</span>
                                    </div>
                                    <div class="first-bottom-txt">
                                        <% Math.round(boards[0].pp) %>pp<br>
                                        <span class="first-pp">PP</span>
                                    </div>
                                    <div class="first-bottom-txt">
                                        <% (Mods2str(boards[0].mods).mod_text).replace(" ", "") + " " %><br>
                                        <span class="first-pp">Mods</span>
                                    </div>
                                </div>
                            </div>
                            <div class="filler-content">
                                <a v-bind:href="'https://{{ domain() }}/score/' + boards[0].id"><i class="fa fa-xl fa-eye"></i></a>
                                {% if session.authenticated %}
                                <a v-bind:href="'https://api.{{ domain() }}/v1/get_replay?id=' + boards[0].id"><i class="fa fa-xl fa-download"></i></a>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- rest of the leaderboard -->
                    <tbody>
                        <tr v-for="(user, index) in boards.slice(1)" class="leaderboard-column">
                            <td class="column-player-rank">#<% index + 2 %>
                            </td>
                            <td class="column-player-name text-left">
                                <a class="player-avatar" :style="'background-image: url(https://a.komako.pw/'+user.userid"></a>
                                <a :title="flags[user.country.toUpperCase()]"
                                :style="'background-image: url(/static/images/flags/' + user.country.toUpperCase() + '.png)'"
                                class="player-flag">
                                <div class="flag-dropdown">
                                    <% flags[user.country.toUpperCase()] %>
                                </div>
                                </a>
                                <a v-if="user.clan_tag" :href="'/u/'+user.userid">
                                    [<% user.clan_tag %>]
                                </a>
                                <a :href="'/u/'+user.userid">
                                    <% user.player_name %>
                                </a>
                            </td>
                            <td v-if="sort == 'pp' || sort == 'rscore'" class="t-column t-column--dimmed">
                                <% (sort=='pp' ? user.pp+'pp' : "" ) %>
                                    <% (sort=='rscore' ? scoreFormat(user.score) : "" ) %>
                            </td>
                            <td class="t-column t-column--dimmed">
                                <% addCommas(user.score) %>
                            </td>
                            <td class="t-column t-column--dimmed">
                                <% Number(user.acc).toFixed(2) %>%
                            </td>
                            <!--
                            {% if beatmap_data['max_combo'] %}
                            <td class="t-column t-column--dimmed">
                                <span style="color: #b3ff66 !important;">
                                <% user.max_combo %>x
                                </span>
                            </td>
                            {% else %}
                            <td class="t-column t-column--dimmed">
                                <% user.max_combo %>x
                            </td>
                            {% endif %}-->
                            <td class="t-column t-column--dimmed">
                                <% user.max_combo %>x
                            </td>
                            <td class="t-column t-column--dimmed">
                                <% user.n100 %>
                            </td>
                            <td class="t-column t-column--dimmed">
                                <% user.n50 %>
                            </td>
                            <td class="t-column t-column--dimmed">
                                <% user.nmiss %>
                            </td>
                            <td class="t-column t-column--dimmed">
                                <% (Mods2str(user.mods).mod_text).replace(" ", "") + " " %>
                            </td>
                            <td class="t-column t-column--dimmed">
                                <% Math.round(user.pp) %>
                            </td>
                            <td class="t-column t-column--dimmed">
                                <a class="player-grade" :style="'background-image: url(/static/images/ranks/' + user.grade + '_rank.png)'"></a>
                              </td>
                              <td class="t-column t-column--dimmed">
                                <% timeReplace(user.play_time) %>
                            </td>
                              <td class="t-column t-column--dimmed">
                                <a v-bind:href="'https://{{ domain() }}/score/' + user.id"><i class="fa fa-eye"></i></a>
                                {% if session.authenticated %}
                                <a v-bind:href="'https://api.{{ domain() }}/v1/get_replay?id=' + user.id"><i class="fa fa-download" style="margin-left: 7px;"></i></a>
                                {% else %}
                                {% endif %}
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div class="text-center">
                    there are no scores to display!
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function numberWithSpaces(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    return parts.join(".");
}

     const numbermods = [
        {mod_text: "MR", mod_bit: 1 << 30},
        {mod_text: "V2", mod_bit: 1 << 29},
        {mod_text: "2K", mod_bit: 1 << 28},
        {mod_text: "3K", mod_bit: 1 << 27},
        {mod_text: "1K", mod_bit: 1 << 26},
        {mod_text: "KC", mod_bit: 1 << 25},
        {mod_text: "9K", mod_bit: 1 << 24},
        {mod_text: "TG", mod_bit: 1 << 23},
        {mod_text: "CN", mod_bit: 1 << 22},
        {mod_text: "RD", mod_bit: 1 << 21},
        {mod_text: "FI", mod_bit: 1 << 20},
        {mod_text: "8K", mod_bit: 1 << 19},
        {mod_text: "7K", mod_bit: 1 << 18},
        {mod_text: "6K", mod_bit: 1 << 17},
        {mod_text: "5K", mod_bit: 1 << 16},
        {mod_text: "4K", mod_bit: 1 << 15},
        {mod_text: "PF", mod_bit: 1 << 14},
        {mod_text: "AP", mod_bit: 1 << 13},
        {mod_text: "SO", mod_bit: 1 << 12},
        {mod_text: "AU", mod_bit: 1 << 11},
        {mod_text: "FL", mod_bit: 1 << 10},
        {mod_text: "NC", mod_bit: 1 << 9},
        {mod_text: "HT", mod_bit: 1 << 8},
        {mod_text: "RX", mod_bit: 1 << 7},
        {mod_text: "DT", mod_bit: 1 << 6},
        {mod_text: "SD", mod_bit: 1 << 5},
        {mod_text: "HR", mod_bit: 1 << 4},
        {mod_text: "HD", mod_bit: 1 << 3},
        {mod_text: "TD", mod_bit: 1 << 2},
        {mod_text: "EZ", mod_bit: 1 << 1},
        {mod_text: "NF", mod_bit: 1}
    ]
    function Mods2str(mod) {
        let mod_text = ' '
        let mod_num = 0
        if (!isNaN(mod)) {
            mod_num = mod
            let bit = mod.toString(2)
            let fullbit = "0000000000000000000000000000000".substr(bit.length) + bit
            for (let i = 30; i >= 0; i--) {
                if (fullbit[i] == 1)  {
                    mod_text += numbermods[i].mod_text
                }
            }
        } else {
     
            mod = mod.toUpperCase()
            if (mod !== 'NM') {
                for (let i = 0; i < mod.length / 2; i++) {
                    let find_mod = numbermods.find(m => m.mod_text == mod.substr(i*2, 2))
                    mod_text += find_mod.mod_text
                    mod_num |= find_mod.mod_bit
                }
            }
        }
        if (mod_text.includes('NC') && mod_text.includes('DT')) mod_text = mod_text.replace('DT', '');
        if (mod_text.includes('PF') && mod_text.includes('SD')) mod_text = mod_text.replace('SD', '');
        if (mod_num == 0) mod_text = 'NM';
        return {mod_text: "+"+mod_text, mod_num: mod_num}
    }
    
</script>
<script>
    function timeReplace(time){
    let dateago = new Date(time)
    dateago.setHours(dateago.getHours())
    dateago = dateago.getTime() 
    let datenow = Date.now()
    let datenew = new Date(datenow - dateago)
    let time_table = [{value: datenew.getUTCFullYear() - 1970, suffix: 'y'},
                        {value: datenew.getUTCMonth(), suffix: 'mo'},
                        {value: datenew.getUTCDate() - 1, suffix: 'd'},
                        {value: datenew.getUTCHours(), suffix: 'h'},
                        {value: datenew.getUTCMinutes(), suffix: 'm'},
                        {value: datenew.getUTCSeconds(), suffix: 's'},]
    let text = ''
    let count = 0
    for (let i = 0; i < time_table.length; i++) {
        if (count < 1) {
            if (time_table[i].value > 0) {
                text += `${time_table[i].value}${time_table[i].suffix} `
                count++
            } 
        } else {
            break
        }
    }
    return text
}

function timeFirstReplace(time){
    let dateago = new Date(time);
    dateago.setHours(dateago.getHours());
    dateago = dateago.getTime();
    let datenow = Date.now();
    let datenew = new Date(datenow - dateago);
    
    let years = datenew.getUTCFullYear() - 1970;
    let time_table = [
        { value: years, suffix: years === 1 ? ' year' : ' years' },
        { value: datenew.getUTCMonth(), suffix: ' months' },
        { value: datenew.getUTCDate() - 1, suffix: ' days' },
        { value: datenew.getUTCHours(), suffix: ' hours' },
        { value: datenew.getUTCMinutes(), suffix: ' min' },
        { value: datenew.getUTCSeconds(), suffix: ' sec' }
    ];
    
    let text = '';
    let count = 0;
    
    for (let i = 0; i < time_table.length; i++) {
        if (count < 1) {
            if (time_table[i].value > 0) {
                text += `${time_table[i].value}${time_table[i].suffix} `;
                count++;
            } 
        } else {
            break;
        }
    }
    
    return text.trim();
}
</script>

<script src="/static/js/asserts/vue-flags.js"></script>
<script src="/static/js/pages/beatmap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
{% endblock %}