{% extends 'base.html' %}
{% block title %} Friends {% endblock %}

{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<link rel="stylesheet" href="/static/css/pages/friends.css">
<link rel="stylesheet" href="/static/css/pages/documentation.css">
<script>
    var domain = "{{ domain() }}";
</script>
{% endblock %}

{% block content %}

<script>
    var active = 'friends';

    var sections = ["friends", "followers"]

    function setActive(id) {
        active = id;

        //zet alles 'none' tenzij id zelfde is als active, dan 'block' ofzo
        for (let i = 0; i < sections.length; i++) {
            document.getElementById(sections[i]).style.display = sections[i] === id ? "block" : "none";
        }
    }

    window.onload = () => { setActive('friends'); }
</script>
<div id="content">
    <div id="home">
        <div class="container">
            <div class="container">
                <div class="col-lg-12">
                    <div class="main-selector"></div>
                    <div class="main-banner doc-banner">
                        <div class="banner-text">Friends</div>
                    </div>
                </div>
            </div>
            <div class="home-bg main-block">
                <!-- <div class="friends-tab">
                    <div class="friends-status-section">
                        <div class="friends-all">
                            <a class="friends-lnk" href="#">
                                <div class="friends-all-bar" style="background-color: #fff;"></div>
                                <p class="friends-all-text">All</p>
                                <p class="friends-all-nmbr">127</p>
                            </a>
                        </div>
                        <div class="friends-online">
                            <a class="friends-lnk" href="#">
                                <div class="friends-onl-bar" style="background-color: #B3D944;"></div>
                                <p class="friends-onl-text">Online</p>
                                <p class="friends-onl-nmbr">127</p>
                            </a>
                        </div>
                        <div class="friends-offline">
                            <a class="friends-lnk" href="#">
                                <div class="friends-off-bar" style="background-color: #000;"></div>
                                <p class="friends-off-text">Offline</p>
                                <p class="friends-off-nmbr">127</p>
                            </a>
                        </div>
                    </div>
                    <div class="friends-sort-section">
                        <span class="friends-sort-txt">Sort by</span>
                        <div class="friends-recent-btn">
                            <span>Recent</span>
                        </div>
                        <div class="friends-rank-btn">
                            <span>Rank</span>
                        </div>
                        <div class="friends-name-btn">
                            <span>Name</span>
                        </div>
                    </div>
                </div> -->
                <div id="friends" style="display: none;">
                    <div class="block-header newmaps-color" style="text-align: center;"></div>
                    <div class="beatmaps-row">
                        {% for friend in friends %}
                        <a href="/u/{{ friend.user2 }}"
                            class="beatmap-block {% if friend['mutual'] %} mutual{% endif %}"
                            style="min-height: 123px;background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%) 50% / cover, linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('https://{{ domain() }}/banners/{{ friend.user2 }}'); background-size: cover; background-position-y: center;">
                            <div class="beatmap-preview">
                                <div class="avatar-container">
                                    <img src="https://a.{{ domain() }}/{{ friend.user2 }}" class="avatar-picture">
                                </div>
                            </div>
                            <div class="beatmap-stats">
                                <span class="beatmap-title" style="padding-right: 3px;">
                                    <img src="https://{{ domain() }}/static/images/flags/{{ friend.country|upper }}.png"
                                        class="profile-flag" style="width: 25px !important;">
                                    {% if friend.priv in [31767, 33556499, 33554451, 19, 33586199, 33554455] %}
                                    <img data-title="Supporter" id="user-img" src="/static/images/supporter.svg" style="width: 20px;">
                                    {% endif %}
                                    {% if friend.id in [3, 47, 33, 10, 34, 6, 4, 5, 21] %}
                                    <img data-title="Supporter" id="user-img" src="/static/images/verified.svg" style="width: 20px;">
                                    {% endif %}
                                    {% if friend.status == True %}
                                    <i class="fas fa-circle" style="color: gold; vertical-align: middle;"></i>
                                    {% elif friend.status == False %}
                                    <i class="fas fa-circle" style="color: black; vertical-align: middle;"></i>
                                    {% else %}
                                    <i class="fa-solid fa-bug"></i>
                                    {% endif %}
                                </span>
                                <span class="beatmap-title" style="margin-top: 5px;">
                                    {{ friend.name }}
                                </span>
                                <div class="beatmap-artist" style="margin-top: 5px;">
                                    <span>last seen {{ friend.last_seen }}</span>
                                </div>
                                <div class="beatmap-artist" style="margin-top: 5px;">
                                    {% if friend.status == False %}
                                    <span>offline</span>
                                    {% elif friend.status == True %}
                                    <span>online</span>
                                    {% else %}
                                    <span>error</span>
                                    {% endif %}
                                </div>
                                <span class="beatmap-artist">
                                    {% if friend.priv == 2 %}
                                    <span style="color: #FF0000;">restricted </span><i style="color: #FF0000;"
                                        class="fa-solid fa-ban"></i>
                                    {% else %}
                                    {% endif %}
                                </span>
                                <div class="beatmap-footer">
                                    <span class="beatmap-mapper">
                                        <span class="newmaps-color"> </span>
                                    </span>
                                    <div class="d-flex align-items-baseline">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/pages/online.js?1"></script>
{% endblock %}