{% extends 'base.html' %}
{% block title %} home {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/home.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>

<meta property="og:title" content="osu!komako" />
<meta property="og:description" content="Komako is my goofy ahh osu! private server, come farm pp!">
<meta property="og:image:type" content="image/gif"/>
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="https://media.tenor.com/ZvGFU6xEUIIAAAAC/azur-lane-bisoku-zenshin-ayanami.gif" />
<meta name="theme-color" content="#FF00FF">
{% endblock %}

{% block content %}

{% if not session.authenticated %}

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Warning
          {% elif status=='success' %}
          Notice
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Uh oh! Be careful!
          {% elif status=='success' %}
          Hey! Listen!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="hero splash p-less" id="home-hero">
  <div class="home-bg">
    <div class="home-container flex">
      <div class="columns flex-vcenter">
        <div class="column flex-vcenter flex-lcenter is-size-2-desktop is-size-1-fullhd server-info" id="title">
          <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">Komako</h1>
          <h2 class="subtitle server-desc">
            This server is invite-only, build for friends and people known by Lionz.<br>
            If you are wondering how <b>you</b> can you join the server.<br>
            Please take a look at the following <a target="_blank" href="https://lionz.gitbook.io/invite/">form</a> on how to be invited.<br>
            For more information please read more <a href="/documentation">here</a><br>
          </h2>
          <div class="player-info">
            <div class="player-info-onl">
              <span><span id="online" style="color: greenyellow;"></span> online</span>
            </div>
            <div class="player-info-reg">
              <span><span id="registered" style="color: lightskyblue;"></span> registered</span>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
              axios.get('https://api.{{ domain() }}/v1/get_player_count')
              .then((response) => {
                var online = response.data.counts.online;
                var registered = response.data.counts.total; // - 3;
                document.getElementById('online').innerHTML = online;
                document.getElementById('registered').innerHTML = registered;
              });
            </script>
          </div>
        </div>
        <div class="column flex flex-lcenter" id="mascot">
          <div class="gulag-avatar"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="feature-container has-text-centered py-4">
    <h2 class="title mb-6 mt-6">Some of our coolest features</h2>
    <div class="columns has-text-centered mb-6"> <!-- Updated has-text-left to has-text-centered -->
      <div class="feat-column column is-10">
        <div class="feature-text">
          <h4 class="title is-spaced is-4">PP for Relax and Autopilot</h4>
          <p class="subtitle is-6">Our server has unique pp formula for relax and autopilot. Good at waving your cursor or just smashing your keyboard? Join Komako and get a fair reward for your skills!</p>
        </div>
      </div>
      <div class="feat-column column is-10">
        <div class="feature-text">
          <h4 class="title is-spaced is-4">Free supporter features</h4>
          <p class="subtitle is-6">You won't have to pay for osu!supporter to have a cool-looking profile page! - profile backgrounds and banners are available for everyone! Keep in mind supporting us still grants a huge set of cool perks, but absence of it doesn't affect your game sessions!</p>
        </div>
      </div>
      <div class="feat-column column is-10">
        <div class="feature-text">
          <h4 class="title is-spaced is-4">Unique Discord Bot</h4>
          <p class="subtitle is-6">We have a unique discord bot written specifically for Gulag that offers many functions! You are able to flex your top plays, recent score and much more! This works for all gamemodes! Check the GitHub for a list of commands.</p>
        </div>
      </div>
      <div class="modimg-plane">
        <img src="/static/images/plane.png" class="img-plane">
      </div>
      <div class="modimg-relax">
        <img src="/static/images/relax.png" class="img-relax">
      </div>
    </div>
  </div>
</section>

{% endif %}

{% if session.authenticated %}
<div class="container-home">

  <div class="main-block home-block"> <!--top row message/buttons-->
    <div class="col-lg-12">
      <div class="row kolhoz-row gayrow-buttons" style="padding-left: 20px;">
        <div class="col-lg-7 rounded-block buttons-row"><a class="row-button" href="/documentation/connect" style="background: rgb(140, 210, 55);"> How to connect </a>
          <a class="row-button" href="https://m1.ppy.sh/r/osu!install.exe" style="background: rgb(255, 102, 170);"> osu! </a>
          <a class="row-button" href="/discord" style="background: rgb(35, 184, 255);"> Discord </a>
          <a class="row-button" href="/support" style="background: rgb(86, 44, 255);"> Support us! </a>
        </div>
        <div class="col-lg-5 rounded-block druzhban-block">
          <a href="/u/3" class="avatar" style="background-image: url(https://a.{{ domain() }}/3);"></a>
          <a href="/discord" class="user-block"><span class="username">Lionz</span>
            <span>You should buy supporter! :3</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-block home-block">
    <div class="col-lg-12">
      <div class="row kolhoz-row">
        <div class="col-lg-4">
          <div class="rounded-block flex-column align-items-baseline welcome-block">
            <div class="d-flex flex-column">
              Welcome,<b style="color: hsl(var(--main), 90%, 55%);"> Lionz</b>
            </div>
            <div class="server-stats">
              <div class="stats-block d-flex flex-column">
                players
                <b><b id="registered" class="newmaps-color" style="color: hsl(var(--main), 90%, 55%); font-size: 21px;"></b></b>
              </div>
              <div class="stats-block d-flex flex-column">
                online<b><b id="online" class="newmaps-color" style="color: greenyellow; font-size: 21px;"></b></b>
              </div>
              <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
              <script>
                axios.get('https://api.{{ domain() }}/v1/get_player_count')
                .then((response) => {
                  var online = response.data.counts.online;
                  var registered = response.data.counts.total;
                  document.getElementById('online').innerHTML = online;
                  document.getElementById('registered').innerHTML = registered;
                });
              </script>
            </div>
          </div>
        </div>
        <div class="col-lg-8 kolhoz-row" style="padding-left: 20px;">
          <div class="rounded-block stream-block">
            <iframe src="https://www.youtube.com/embed/FxJYARuyJNk?si=kIGY0cm4Ujxhcza6" height="278px" frameborder="0" class="video-block"></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-block home-block">
    <div class="category-block d-flex">
      <div class="category-title"> Statistics </div>
      <a href="/stats" class="category-link" style="color: hsl(var(--main), 90%, 55%)"> More <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="beatmaps-categories">
      <div class="block-header newmaps-color">Best Performences</div>
      <div class="beatmaps-row">
        {% for result in pp_records %}
          <a href="/score/{{ result.id }}" class="beatmap-block">
            <div class="beatmap-preview" style="background-image: url('https://assets.ppy.sh/beatmaps/{{ result.set_id }}/covers/card.jpg')"></div>
            <div class="beatmap-stats">
              <span class="beatmap-title">{{ result.title }}</span>
              <span class="beatmap-artist">{{ result.version }}</span>
              <div class="beatmap-footer">
                <span class="beatmap-mapper">
                  {{ result.mode_str }} by
                  <span class="newmaps-color">{{ result.name }}</span>
                </span>
                <div class="d-flex align-items-baseline">
                  <span>{{ result.pp }}PP</span>
                  <div class="target-button newmaps-color">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="block-header popular-color">Most Played</div>
      <div class="beatmaps-row">
        {% for maps in most_played %}
          <a href="/b/{{ maps.id }}" class="beatmap-block">
            <div
              class="beatmap-preview"
              style="background-image: url('https://assets.ppy.sh/beatmaps/{{ maps.set_id }}/covers/card.jpg')"
            ></div>
            <div class="beatmap-stats">
              <span class="beatmap-title"> {{ maps.title }} </span>
              <span class="beatmap-artist"> {{ maps.version }} </span>
              <div class="beatmap-footer">
                <span class="beatmap-mapper">
                  by <span class="popular-color"> {{ maps.creator }} </span>
                </span>
                <div class="d-flex align-items-baseline">
                  <span>{{ maps.plays }} plays</span>
                  <div class="target-button popular-color">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="main-block home-block" id="activ"> <!-- activity block currently only gets #1's and snipes, hiding #1 achieved from the sniper and only showing that and limit to 10 -->
    <div class="category-block d-flex">
        <div class="category-title">Recent Activity</div>
        <a href="/activity" class="category-link" style="color: hsl(var(--main), 90%, 55%)"> More <i class="fas fa-arrow-right"></i></a>
          <div class="activity-container">
            <div class="activity-content">
              {% for score_logs in recent_activity %}
                  <span class="activity-text">
                      {% if score_logs.event == 'new_rank_1' %}
                          {% if not (recent_activity|selectattr('event', 'equalto', 'sniped')
                                      |selectattr('timestamp', 'equalto', score_logs.timestamp)
                                      |selectattr('sniper_id', 'equalto', score_logs.user_id)
                                      |list) and score_logs.map_md5 not in user_rank_1_maps %}
                              {% set _ = user_rank_1_maps.add(score_logs.map_md5) %}
                              <i class="fa-solid fa-trophy"></i>
                              <a href="/u/{{ score_logs.user_id }}" class="act-player">{{ score_logs.name }}</a>
                              has achieved #1 on
                              <a href="/b/{{ score_logs.map_id }}" class="act-title">{{ score_logs.map_title }} [{{ score_logs.version }}]</a>
                              {{ mode_strings[score_logs.mode] }} {{ timeago.format(score_logs.timestamp) }}
                          {% endif %}
                      {% elif score_logs.event == 'sniped' %}
                          <i class="fa-solid fa-bomb"></i>
                          <a href="/u/{{ score_logs.sniper_id }}" class="act-player">{{ score_logs.got_sniped_by }}</a>
                          has sniped
                          <a href="/u/{{ score_logs.user_id }}" class="act-player">{{ score_logs.name }}</a>
                          on
                          <a href="/b/{{ score_logs.map_id }}" class="act-title">{{ score_logs.map_title }} [{{ score_logs.version }}]</a>
                          {{ mode_strings[score_logs.mode] }} {{ timeago.format(score_logs.timestamp) }}
                      {% else %}
                          Error: Unknown event
                      {% endif %}
                  </span>
              {% endfor %}
            </div>          
          </div>
      </div>
  </div>


  {% if recent_active %}
    <div class="main-block home-block">
      <div class="category-block d-flex">
        <div class="category-title"> Recently Active </div>
        <a href="/userlist" class="category-link" style="color: hsl(var(--main), 90%, 55%)"> All users <i class="fas fa-arrow-right"></i></a>
      </div>
      <div class="donors-row">
        {% for user in recent_active %}
        <a href="/u/{{ user.id }}" class="donor-block" style="background: linear-gradient(hsl(var(--main), 25%, 25%, 90%), hsl(var(--main), 25%, 25%, 60%)), url(/banners/{{ user.id }}); background-size: cover; background-position-y: center;">
          <div class="user-avatar donor-avatar" style="background-image: url(https://a.{{ domain() }}/{{ user.id }});"></div>
          <div class="donor-info text-wrap">
            <div class="donor-title"> {{ user.name }} </div>
            <div class="subtitle"> {{ timeago.format(user['latest_activity']) }} </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}

{% endif %}
{% endblock %}