{% extends 'base.html' %}
{% block title %} home {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/home.css">
{% endblock %}

{% block content %}

{% if not session.authenticated %}

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Warning
          {% elif status=='success' %}
          Notice
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Uh oh! Be careful!
          {% elif status=='success' %}
          Hey! Listen!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="hero splash p-less" id="home-hero">
  <div class="home-bg">
    <div class="home-container flex">
      <div class="columns flex-vcenter">
        <div class="column flex-vcenter flex-lcenter is-size-2-desktop is-size-1-fullhd server-info" id="title">
          <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">Komako</h1>
          <h2 class="subtitle server-desc">
            This server is invite-only, build for friends and people known by Lionz.<br>
            If you are wondering how <b>you</b> can you join the server.<br>
            Please take a look at the following <a target="_blank" href="https://lionz.gitbook.io/invite/">form</a> on how to be invited.<br>
            For more information please read more <a href="/documentation">here</a><br>
          </h2>
          <div class="player-info">
            <div class="player-info-onl">
              <span><span id="online" style="color: greenyellow;"></span>69 online</span>
            </div>
            <div class="player-info-reg">
              <span><span id="registered" style="color: lightskyblue;"></span>420 registered</span>
            </div>
          </div>
        </div>
        <div class="column flex flex-lcenter" id="mascot">
          <div class="gulag-avatar"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="feature-container has-text-centered py-4">
    <h2 class="title mb-6 mt-6">Some of our coolest features</h2>
    <div class="columns has-text-centered mb-6"> <!-- Updated has-text-left to has-text-centered -->
      <div class="feat-column column is-10">
        <div class="feature-text">
          <h4 class="title is-spaced is-4">PP for Relax and Autopilot</h4>
          <p class="subtitle is-6">Our server has unique pp formula for relax and autopilot. Good at waving your cursor or just smashing your keyboard? Join Komako and get a fair reward for your skills!</p>
        </div>
      </div>
      <div class="feat-column column is-10">
        <div class="feature-text">
          <h4 class="title is-spaced is-4">Free supporter features</h4>
          <p class="subtitle is-6">You won't have to pay for osu!supporter to have a cool-looking profile page! - profile backgrounds and banners are available for everyone! Keep in mind supporting us still grants a huge set of cool perks, but absence of it doesn't affect your game sessions!</p>
        </div>
      </div>
      <div class="feat-column column is-10">
        <div class="feature-text">
          <h4 class="title is-spaced is-4">Unique Discord Bot</h4>
          <p class="subtitle is-6">We have a unique discord bot written specifically for Gulag that offers many functions! You are able to flex your top plays, recent score and much more! This works for all gamemodes! Check the GitHub for a list of commands.</p>
        </div>
      </div>
      <div class="modimg-plane">
        <img src="/static/images/plane.png" class="img-plane">
      </div>
      <div class="modimg-relax">
        <img src="/static/images/relax.png" class="img-relax">
      </div>
    </div>
  </div>
</section>

{% endif %}

{% if session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">What are you waiting for?</h1>
      <h2 class="subtitle">Join {{ appName() }}! It's risk-free! You won't get your account banned on official servers
        if
        you play here with us! And don't worry, as you can always switch between the official servers and us at any time!</h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="/register">Sign up for free</a><a
          class="control button is-light" href="/login">Login</a></div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}