{% extends 'base.html' %}
{% block title %} Leaderboard {% endblock %}

{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>

<script>
    var mode = "{{ mode }}";
    var mods = "{{ mods }}";
    var sort = "{{ sort }}";
    var domain = "{{ domain() }}";
</script>

<link rel="stylesheet" href="/static/css/pages/leaderboard.css">
{% endblock %}

{% block content %}
<div id="app" :class="(load ? 'load' : '')">
    <div class="leaderboard-banner main-banner">
        <div class="main-selector">
            <a class="mode-select" v-bind:class="{ 'active': mode === 'std' }"
            @click="LoadLeaderboard(sort, 'std', mods)">
                <i class="mode-icon mode-osu"></i><span class="modetext"> osu!</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'taiko', 'disabled': mods === 'ap' }"
            @click="LoadLeaderboard(sort, 'taiko', mods)">
                <i class="mode-icon mode-taiko"></i><span class="modetext"> osu!taiko</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'catch', 'disabled': mods === 'ap' }"
            @click="LoadLeaderboard(sort, 'catch', mods)">
                <i class="mode-icon mode-catch"></i><span class="modetext"> osu!catch</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'mania', 'disabled': mods === 'ap' || mods === 'rx' }"
            @click="LoadLeaderboard(sort, 'mania', mods)">
                <i class="mode-icon mode-mania"></i><span class="modetext"> osu!mania</span>
            </a>
        </div>
        <div class="banner-text">Leaderboard</div>
        <div class="selector">
            <div class="left">
                <a class="simple-banner-switch" v-bind:class="{ 'active': sort === 'pp' }"
                @click="LoadLeaderboard('pp', mode, mods, '')">PP</a>
                <a class="simple-banner-switch" v-bind:class="{ 'active': sort === 'rscore' }"
                @click="LoadLeaderboard('rscore', mode, mods, '')">Score</a>
            </div>
            <div class="right">
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'vn' }"
                @click="LoadLeaderboard(sort, mode, 'vn')">Vanilla</a>
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'rx', 'disabled': mode === 'mania' }"
                @click="LoadLeaderboard(sort, mode, 'rx')">Relax</a>
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'ap', 'disabled': mode === 'taiko' || mode === 'catch' || mode === 'mania'  }"
                @click="LoadLeaderboard(sort, mode, 'ap')">Autopilot</a>
            </div>
        </div>
    </div>
    <div class="main-block">
        <div class="leaderboard-main-bg table-responsive">
            <div class="leaderboard-country-block">
                <div class="country-selector">
                    <a class="country-btn" v-bind:class="{ 'active': !country || country === 'all' }"
                       @click="LoadLeaderboard(sort, mode, mods, 'all')">
                       <img src="/static/images/flags/global.png">
                    </a>   
                    <a class="country-btn" v-bind:class="{ 'active': country === 'NL' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'NL')"><img src="/static/images/flags/NL.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'US' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'US')"><img src="/static/images/flags/US.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'RU' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'RU')"><img src="/static/images/flags/RU.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'KR' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'KR')"><img src="/static/images/flags/KR.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'PL' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'PL')"><img src="/static/images/flags/PL.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'GB' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'GB')"><img src="/static/images/flags/GB.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'NZ' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'NZ')"><img src="/static/images/flags/NZ.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'CC' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'CC')"><img src="/static/images/flags/CC.png">
                    </a>
                    <a class="country-btn"><i class="fa-solid fa-lg fa-ellipsis"></i></a>
                </div>
            </div>
            <div v-if="boards.length != undefined && boards.length != 0">
                <table class="leaderboard-table table-responsive">
                    <thead>
                        <tr>
                            <th class="t-heading"> </th>
                            <th class="t-heading t-heading--main"></th>
                            <th v-if="sort == 'pp' || sort == 'rscore'" class="t-heading table--selected">
                                <% (sort=='pp' ? "PP" : "" ) %>
                                    <% (sort=='rscore' ? "Score" : "" ) %>
                            </th>
                            <th class="t-heading"> Accuracy </th>
                            <th class="t-heading"> Playcount </th>
                            <th class="t-heading"> Max Combo </th>
                        </tr>
                    </thead>
                    <!-- leaderboard layout for #1 player -->
                    <div class="leaderboard-first-child" :style="'background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%), linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://{{ domain() }}/banners/' + boards[0].player_id + '); background-size: cover; background-position-y: center;'">
                        <div v-if="boards.length > 0" class="first-player-container">
                            <!-- <div class="rank-content">
                                <div class="first-player-rank">#1</div>
                            </div> -->
                            <div class="left-content">
                                <div class="first-player-name">
                                    <a class="fplayer-name" :href="'/u/' + boards[0].player_id"><% boards[0].name %></a>
                                </div>
                                <div class="first-player-country">
                                    <a :title="flags[boards[0].country.toUpperCase()]" :style="'background-image: url(/static/images/flags/' + boards[0].country.toUpperCase() + '.png)'" class="player-flag">
                                        <div class="flag-dropdown">
                                            <% getCountryName(boards[0].country.toUpperCase()) %>
                                        </div>
                                    </a>
                                    <span class="first-country-name"><% getCountryName(boards[0].country.toUpperCase()) %></span>
                                </div>
                            </div>
                            <div class="middle-content">
                                <div class="first-player-name">
                                    <a class="first-player-avatar" :href="'/u/' + boards[0].player_id" 
                                        :style="'background-image: url(https://a.{{ domain() }}/' + boards[0].player_id + ')'">
                                    </a>
                                </div>
                            </div>
                            <div class="right-content">
                                <div class="first-pp-count">
                                    <% (sort=='pp' ? boards[0].pp+'pp' : "" ) %>
                                    <% (sort=='rscore' ? scoreFormat(boards[0].rscore) : "" ) %>
                                    <span class="first-pp">Performance</span>
                                </div>  
                                <div class="first-acc-count">
                                    <% boards[0].acc.toFixed(2) %>%
                                    <span class="first-acc">Accuracy</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- rest of the leaderboard -->
                    <tbody>
                        <template v-for="(user, index) in boards.slice(1)">
                            <tr class="leaderboard-column">
                                <td class="column-player-rank">#<% index + 2 %></td>
                                <td class="column-player-name text-left">
                                    <a class="player-avatar" :style="'background-image: url(https://a.{{ domain() }}/' + user.player_id + ')'"></a>
                                    <a :title="flags[user.country.toUpperCase()]" :style="'background-image: url(/static/images/flags/' + user.country.toUpperCase() + '.png)'" class="player-flag">
                                        <div class="flag-dropdown">
                                            <% flags[user.country.toUpperCase()] %>
                                        </div>
                                    </a>
                                    <a :href="'/u/'+user.player_id+'?mode='+mode+'&mods='+mods">
                                        <% user.name %>
                                    </a>
                                </td>
                                <td v-if="sort == 'pp' || sort == 'rscore'">
                                    <% (sort=='pp' ? user.pp+'pp' : "" ) %>
                                    <% (sort=='rscore' ? scoreFormat(user.rscore) : "" ) %>
                                </td>
                                <td>
                                    <% user.acc.toFixed(2) %>%
                                </td>
                                <td>
                                    <% addCommas(user.plays) %>
                                </td>
                                <td>
                                    <% addCommas(user.max_combo) %>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div class="text-center">
                    there are no players to display!
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/asserts/vue-flags.js"></script>
<script src="/static/js/pages/leaderboard.js"></script>

{% endblock %}
