{% extends 'base.html' %}
{% block title %} Leaderboard {% endblock %}

{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>

<script>
    var mode = "{{ mode }}";
    var mods = "{{ mods }}";
    var sort = "{{ sort }}";
    var domain = "{{ domain() }}";
</script>  

<link rel="stylesheet" href="/static/css/pages/leaderboard.css">
{% endblock %}

{% block content %}
<div id="app" :class="(load ? 'load' : '')">
    <div class="leaderboard-banner main-banner">
        <div class="main-selector">
            <a class="mode-select" v-bind:class="{ 'active': mode === 'std' }"
            @click="LoadLeaderboard(sort, 'std', mods)">
                <i class="mode-icon mode-osu"></i><span class="modetext"> osu!</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'taiko', 'disabled': mods === 'ap' }"
            @click="LoadLeaderboard(sort, 'taiko', mods)">
                <i class="mode-icon mode-taiko"></i><span class="modetext"> osu!taiko</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'catch', 'disabled': mods === 'ap' }"
            @click="LoadLeaderboard(sort, 'catch', mods)">
                <i class="mode-icon mode-catch"></i><span class="modetext"> osu!catch</span>
            </a>
            <a class="mode-select" v-bind:class="{ 'active': mode === 'mania', 'disabled': mods === 'ap' || mods === 'rx' }"
            @click="LoadLeaderboard(sort, 'mania', mods)">
                <i class="mode-icon mode-mania"></i><span class="modetext"> osu!mania</span>
            </a>
        </div>
        <div class="banner-text">
            <span class="banner-text">Leaderboard<br></span>
            <span class="selected-country" v-if="country"><% getCountryName(country) %></span>
        </div>
        <div class="selector">
            <div class="left">
                <a class="simple-banner-switch" v-bind:class="{ 'active': sort === 'pp' }"
                @click="LoadLeaderboard('pp', mode, mods, '')">PP</a>
                <a class="simple-banner-switch" v-bind:class="{ 'active': sort === 'rscore' }"
                @click="LoadLeaderboard('rscore', mode, mods, '')">Score</a>
                <a class="simple-banner-switch" v-bind:class="{ 'active': sort === 'playtime' }"
                @click="LoadLeaderboard('playtime', mode, mods, '')">Playtime</a>
            </div>
            <div class="right">
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'vn' }"
                @click="LoadLeaderboard(sort, mode, 'vn')">Vanilla</a>
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'rx', 'disabled': mode === 'mania' }"
                @click="LoadLeaderboard(sort, mode, 'rx')">Relax</a>
                <a class="simple-banner-switch" v-bind:class=" { 'active': mods === 'ap', 'disabled': mode === 'taiko' || mode === 'catch' || mode === 'mania'  }"
                @click="LoadLeaderboard(sort, mode, 'ap')">Autopilot</a>
            </div>
        </div>
    </div>
    <div class="main-block">
        <div class="leaderboard-main-bg table-responsive">
            <div class="leaderboard-country-block">
                <div class="country-selector">
                    <a class="country-btn" v-bind:class="{ 'active': !country || country === 'all' }"
                       @click="LoadLeaderboard(sort, mode, mods, 'all')">
                       <img src="/static/images/flags/global.png">
                    </a>   
                    <a class="country-btn" v-bind:class="{ 'active': country === 'NL' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'NL')"><img src="/static/images/flags/NL.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'US' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'US')"><img src="/static/images/flags/US.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'RU' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'RU')"><img src="/static/images/flags/RU.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'KR' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'KR')"><img src="/static/images/flags/KR.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'PL' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'PL')"><img src="/static/images/flags/PL.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'GB' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'GB')"><img src="/static/images/flags/GB.png">
                    </a>
                    <a class="country-btn" v-bind:class="{ 'active': country === 'NZ' }"
                    @click="LoadLeaderboard(sort, mode, mods, 'NZ')"><img src="/static/images/flags/NZ.png">
                    </a>
                    <button class="country-btn" @click="toggleCountryMenu">
                        <i class="fa-solid fa-lg fa-ellipsis"></i>
                    </button>
                    <div class="country-modal" v-if="showCountryMenu">
                        <div class="country-modal-content">
                            <span class="close-btn" @click="toggleCountryMenu">&times;</span>
                            <ul class="country-list">
                                <li :class="{ 'active': !country || country === 'all' }" @click="selectCountry('all')">
                                    <img src="/static/images/flags/global.png" class="country-flag">
                                    <span class="country-name">All countries</span>
                                </li>
                                <li v-for="country in countries" :key="country.code" @click="selectCountry(country.code)">
                                    <img :src="country.flag" class="country-flag">
                                    <span class="country-name"><% country.name %></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="boards.length != undefined && boards.length != 0">
                <table class="leaderboard-table table-responsive">
                    <thead>
                        <tr>
                            <th class="t-heading"> </th>
                            <th class="t-heading t-heading--main"></th>
                            <th v-if="sort == 'pp' || sort == 'rscore'" class="t-heading table--selected">
                                <% (sort=='pp' ? "PP" : "" ) %>
                                    <% (sort=='rscore' ? "Score" : "" ) %>
                            </th>
                            <th class="t-heading"> Accuracy </th>
                            <th class="t-heading"> Playcount </th>
                            <th class="t-heading"> Max Combo </th>
                            <th class="t-heading"> Playtime </th>
                        </tr>
                    </thead>
                    <!-- leaderboard layout for #1 player -->
                    <div class="leaderboard-first-child" :style="'background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%), linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://{{ domain() }}/banners/' + boards[0].player_id + '); background-size: cover; background-position-y: center;'"> <!-- stop trying to paste loser lol -->
                        <div v-if="boards.length > 0" class="first-player-container">
                            <div class="rank-content">
                                <div class="first-player-rank">#<% (currentPage - 1) * limit + 1 %></div>
                            </div>
                            <div class="left-content">
                                <div class="first-player-name">
                                    <a class="fplayer-name" :href="'/u/' + boards[0].player_id"><% boards[0].name %></a>
                                </div>
                                <div class="first-player-country">
                                    <a :title="flags[boards[0].country.toUpperCase()]" :style="'background-image: url(/static/images/flags/' + boards[0].country.toUpperCase() + '.png)'" class="player-flag">
                                        <div class="flag-dropdown">
                                            <% getCountryName(boards[0].country.toUpperCase()) %>
                                        </div>
                                    </a>
                                    <span class="first-country-name"><% getCountryName(boards[0].country.toUpperCase()) %></span>
                                </div>
                            </div>
                            <div class="middle-content">
                                <div class="first-player-name">
                                    <a class="first-player-avatar" :href="'/u/' + boards[0].player_id" 
                                        :style="'background-image: url(https://a.{{ domain() }}/' + boards[0].player_id + ')'">
                                    </a>
                                </div>
                            </div>
                            <div class="right-content">
                                <div class="first-pp-count" :class="{'score-count': sort === 'rscore' || sort === 'playtime'}">
                                    <% (sort === 'pp' ? boards[0].pp + 'pp' : '' ) %>
                                    <% (sort === 'rscore' ? scoreFormat(boards[0].rscore) : '' ) %>
                                    <% (sort === 'playtime' ? formatPlaytime(boards[0].playtime) : '' ) %>
                                    <span v-if="sort === 'pp'" class="first-pp">Performance</span>
                                    <span v-else-if="sort === 'rscore'" class="first-pp">Score</span>
                                    <span v-else-if="sort === 'playtime'" class="first-pp">Playtime</span>
                                </div>
                                <div class="first-acc-count">
                                    <% boards[0].acc.toFixed(2) %>%
                                    <span class="first-acc">Accuracy</span>
                                </div>
                            </div>
                            <div class="filler-content"></div>
                        </div>
                    </div>
                    <!-- rest of the leaderboard -->
                    <tbody>
                        <template v-for="(user, index) in boards.slice(1)">
                            <tr class="leaderboard-column" :style="{ 'background-color': user.latest_activity >= 1677200400 ? 'hsl(var(--main), 15%, 25%)' : 'hsl(var(--main), 15%, 18%)' }">
                                <td class="column-player-rank" :style="{ 'background-color': user.latest_activity >= 1677200400 ? 'hsl(var(--main), 10.7%, 24.7%)' : 'hsl(var(--main), 15%, 18%) !important' }">#<% (currentPage - 1) * limit + index + 2 %></td>
                                <td class="column-player-name text-left">
                                    <user-profile :user="user" :mode="mode" :domain="domain"></user-profile>
                                </td>
                                <td v-if="sort == 'pp' || sort == 'rscore'">
                                    <% (sort=='pp' ? user.pp+'pp' : "" ) %>
                                    <% (sort=='rscore' ? scoreFormat(user.rscore) : "" ) %>
                                </td>
                                <td>
                                    <% user.acc.toFixed(2) %>%
                                </td>
                                <td>
                                    <% addCommas(user.plays) %>
                                </td>
                                <td>
                                    <% addCommas(user.max_combo) %>
                                </td>
                                <td>
                                    <% formatPlaytime(user.playtime) %>
                                </td>
                            </tr>
                        </template>
                    </tbody>                    
                </table>
                <div class="leaderboard-pager">
                    <a class="pager-btn" @click="prevPage"><i aria-hidden="true" class="fa-solid fa-chevron-left"></i></a>
                    <span><% currentPage %> / <% totalPages %></span>
                    <a class="pager-btn" @click="nextPage"><i aria-hidden="true" class="fa-solid fa-chevron-right"></i></a>
                </div>
            </div>
            <div v-else>
                <div class="text-center" style="margin-top: 15px;">
                    there are no players to display!
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/asserts/vue-flags.js"></script>
<script src="/static/js/pages/leaderboard.js"></script>

{% endblock %}
