{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% macro userpage(user) %}
{% if user['userpage_content'] != "" and user['userpage_content'] != None %}
    <div class="log-block">
        <div class="header">
            <div class="title">
                <i class="fas fa-card"></i> About me
            </div>
        </div>
        <div class="scores">
            {{ rendered_bbcode | safe }}
        </div>
    </div>
{% endif %}
{% endmacro %}

{% macro scores(title, id) %}
<div class="log-block" v-bind:class="{ 'load' : data.scores.{{ id }}.load }">
    <div class="header">
        <div class="title">
            <i class="fas fa-trophy"></i> {{ title }}
        </div>
    </div>
    <div v-if="data.scores.{{ id }}.out.length != 0" class="scores">
        <div v-for="(map, index) in data.scores.{{ id }}.out" class="map-single"
            :style="`background: linear-gradient(hsl(var(--main), 25%, 25%, 90%), hsl(var(--main), 25%, 25%, 90%)), url(https://assets.ppy.sh/beatmaps/${map.beatmap.set_id}/covers/cover.jpg)`">
            <div class="map-data">
                <div class="map-content1">
                    <div class="map-image">
                        <img v-bind:src="'https://assets.ppy.sh/beatmaps/' + map.beatmap.set_id + '/covers/card.jpg'"
                            class="map-image-picture">
                    </div>
                    <div class="map-title-block">
                        <div class="map-title">
                            <a class="beatmap-link" v-bind:href="'https://{{ domain() }}/b/' + map.beatmap.id">
                                <% map.beatmap.artist %> - <% map.beatmap.title %> [<% map.beatmap.version %>] <!--<span v-if="map.mods != 0">+ <% modsStr(map.mods) %></span>-->
                            </a>
                        </div>
                        <div class="play-stats">
                            <% addCommas(map.score) %> / <% map.max_combo %><b>x</b>
                        </div>
                        <div class="map-date">
                            <time>
                                <% timeago.format(map.play_time) %>
                            </time>
                        </div>
                    </div>
                </div>
                <div class="map-content2">
                    <div class="score-details d-flex">
                        <div class="score-details_right-block">
                            <div class="score-details_pp-block">
                                <div class="map-pp">
                                    <% map.pp.toFixed() %><span class="map-pp-unit">pp</span>
                                </div>
                                <div class="map-acc">accuracy:&nbsp;<b>
                                        <% map.acc.toFixed(2) %>%
                                    </b></div>
                            </div>
                            <div class="score-details_grade-block">
                                <div class="rank-single">
                                    <div v-bind:class="'map-rank rank-'+map.grade">
                                        <% map.grade.replace("X", "SS" ).replace("H", "" ) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="data.scores.{{ id }}.out.length == 0" class="stats-block">
        <div class="columns is-marginless">
            <div class="column is-1">
                <h1 class="title">: (</h1>
            </div>
            <div class="column">
                <h1 class="title is-6">No scores available</h1>
                <p class="subtitle is-7">Try playing something?</p>
            </div>
        </div>
    </div>
    <div v-if="data.scores.{{ id }}.more.full == false" class="extra-block">
        <a class="show-button" @click="AddLimit('{{ id }}score')">Show more</a>
    </div>
</div>
{% endmacro %}

{% macro maps(title, id) %}
<div class="log-block" v-bind:class="{ 'load' : data.maps.{{ id }}.load }">
    <div class="header">
        <div class="title">
            <i class="fas fa-address-book"></i> Most Played Beatmaps
        </div>
    </div>
    <div v-if="data.maps.{{ id }}.out.length != 0" class="beatmaps">
        <a v-for="(map, index) in data.maps.{{ id }}.out" class="beatmap-block">
            <div class="beatmap-preview"
                v-bind:style='{ background: `url(https://assets.ppy.sh/beatmaps/${map.set_id}/covers/card.jpg)` }'>
            </div>
            <div class="beatmap-stats"><span class="beatmap-title">
                    <% map.title %>
                </span> <span class="beatmap-artist">
                    <% map.artist %>
                </span>
                <div class="beatmap-footer"><span class="beatmap-mapper"> by <span
                            class="newmaps-color">
                            <% map.creator %>
                        </span></span>
                    <div class="d-flex align-items-baseline"><span>
                            <% map.plays %>
                        </span>
                        <div class="target-button newmaps-color"><i class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div v-else-if="data.maps.{{ id }}.out.length == 0" class="stats-block">
        <div class="columns is-marginless">
            <div class="column is-1">
                <h1 class="title">: (</h1>
            </div>
            <div class="column">
                <h1 class="title is-6">No beatmaps available</h1>
                <p class="subtitle is-7">Try playing something?</p>
            </div>
        </div>
    </div>
    <div v-if="data.maps.{{ id }}.more.full == false" class="extra-block">
        <a class="show-button" @click="AddLimit('mostplay')">Show more</a>
    </div>
</div>
{% endmacro %}

{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<link rel="stylesheet" href="/static/css/pages/profile.css">

<script>
    var userid = Number("{{ user['id'] }}"); //For text editor doesn't dizzy lmao
    var mode = '{{ mode }}';
    var mods = '{{ mods }}';
    var domain = "{{ domain() }}";
</script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="main-block">
        <div class="userprofile-heading">
            <span class="heading-title"><i class="fa-regular fa-address-card"
                    style="font-size: 21px;"></i><span>player info</span></span>

            <div class="heading-selector">
                <a v-bind:class=" { 'selected': mods === 'vn' }" @click="ChangeModeMods(mode,'vn')"
                    class="mode-select">
                    <span><i class="mode-icon osu"></i></span>
                </a>

                <a v-bind:class=" { 'selected': mods === 'rx', 'disabled': mode === 'mania' }"
                    @click="ChangeModeMods(mode,'rx')" class="mode-select">
                    <span><i class="fa-solid fa-martini-glass-citrus"></i></span>
                </a>

                <a v-bind:class=" { 'selected': mods === 'ap', 'disabled': mode === 'taiko' || mode === 'catch' || mode === 'mania'  }"
                    @click="ChangeModeMods(mode,'ap')" class="mode-select">
                    <span><i class="fa-solid fa-plane"></i></span>
                </a>
            </div>
            <div class="heading-selector">
                <a v-bind:class="{ 'selected': mode === 'std' }" @click="ChangeModeMods('std',mods)"
                    class="mode-select">
                    <span><i class="mode-icon osu"></i></span>
                </a>
                
                <a v-bind:class="{ 'selected': mode === 'taiko', 'disabled': mods === 'ap' }"
                    @click="ChangeModeMods('taiko',mods)" class="mode-select">
                    <span class="fal fa-extra-mode-taiko"></span>
                </a>

                <a v-bind:class="{ 'selected': mode === 'catch', 'disabled': mods === 'ap' }"
                    @click="ChangeModeMods('catch',mods)" class="mode-select"><span
                        class="fal fa-extra-mode-ctb"></span>
                    </a>

                <a v-bind:class="{ 'selected': mode === 'mania', 'disabled': mods === 'ap' || mods === 'rx' }"
                    @click="ChangeModeMods('mania',mods)" class="mode-select"><span
                        class="fal fa-extra-mode-mania"></span>
                </a>
            </div>
        </div>
        <div class="profile-bg" style="min-height: 262px; background: url('/banners/{{ user['id'] }}'); background-size: cover; background-position-y: center;" onError="this.onerror=null; this.src='/banners/c6.jpg';">
            <div class="anime-girl">
                <!-- (if you want to add it)
                    <img src="{your transparent img src}" alt="">
                -->
            </div>
            <transition name="click">
                <div class="online-infomation" v-if='data.status.online == true'
                    :key="actionIntToStr(data.status.status)">
                    <% actionIntToStr(data.status.status) %>
                </div>
            </transition>
        </div>
        <div class="userprofile_body">
            <div class="d-flex">
                {% if user['priv'] in [31767, 33556499, 33554451, 19, 33586199, 33554455] %}
                <div class="left-avatar user-avatar support-pfp left-avatar-support">
                    <img src="https://a.{{ domain() }}/{{ user['id'] }}">
                </div>
                {% else %}
                <div class="left-avatar user-avatar">
                    <img src="https://a.{{ domain() }}/{{ user['id'] }}">
                </div>
                {% endif %}

                <div class="d-flex flex-column align-items-baseline">

                    {% macro username(user) %}
                        {% if user['username_aka'] is not none and user['username_aka'] != '' %}
                            <p class="username_aka">
                                (A.K.A {{ user['username_aka'] }})
                            </p>
                        {% endif %}
                    {% endmacro %}

                    {{ username(user) }}

                    <div class="left-name" style="display: flex; align-items: center;">
                        <span v-if="{{ user['id'] }} == 3" class="bgf user-name"
                            style="text-shadow: rgb(190, 196, 255) 0px 0px 8px; color: rgb(255, 255, 255); background: url(https://dl.issou.best/ordr/assets/text_bg/text_bg3.gif);">Lionz</span>
                        <div v-else="" class="user-name bgf">{{ user['name'] }}</div>

                        {% if user['priv'] in [31767, 33556499, 33554451, 19, 33586199, 33554455] %}
                        <div class="verify-block" style="display: flex; align-items: center;">
                            <img src="/static/images/supporter.svg" style="width: 20px;">
                        </div>
                        {% else %}
                        {% endif %}

                        <div class="verify-block" style="display: flex; align-items: center;"
                            v-if="{{ user['id'] }} == 3">
                            <img src="/static/images/verified.svg" style="width: 20px;">
                        </div>

                        {% if session.authenticated and session.user_data['is_staff'] %}
                        <div class="verify-block">
                            <a :href="'/admin/users/edit/' + {{ user['id'] }}">&nbsp;
                                <i class="fa-solid fa-pen-to-square"
                                    style="font-size: 18px; color: #469BFF;"></i>
                            </a>
                        </div>

                        {% if user.priv == 1 %}
                        &nbsp;&nbsp;<div class="verify-block">
                            <a>
                                <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>
                                <span>&nbsp;restricted</span>
                            </a>
                        </div>
                        {% endif %}

                        {% if user.priv == 2 %}
                        &nbsp;&nbsp;<div class="verify-block">
                            <a>
                                <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>
                                <span>&nbsp;restricted</span>
                            </a>
                        </div>
                        {% endif %}

                        {% if user.priv == 33554434 %}
                        &nbsp;&nbsp;<div class="verify-block">
                            <a>
                                <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>
                                <span>&nbsp;restricted</span>
                            </a>
                        </div>
                        {% endif %}

                        {% endif %}
                    </div>

                    <div class="left-flag">
                        <a data-title="Groningen"><img v-if="{{ user['id'] }} == 3"
                            src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Flag_of_Groningen.svg"
                            class="profile-flag">
                        </a>
                        <img src="/static/images/flags/{{ user['country']|upper }}.png" class="profile-flag">
                        <span>
                            <% flags{{ [user['country']|upper] }} %>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="ranks-block">
            <div class="d-flex flex-wrap">
                <div class="left-join">
                    <div class="join-text">Joined
                        <div title="{{ user['creation_time'] }}" class="join-date">
                            <span>{{ timeago.format(user['creation_time']) }}</span>
                        </div>
                    </div>
                    {% if session.authenticated and session.user_data['id'] == 0 %}
                    {% else %}
                    <div class="join-text">Last seen
                        <div title="{{ user['latest_activity'] }}" class="join-date">
                            <span>{{ timeago.format(user['latest_activity']) }}</span>
                        </div>
                    </div>
                    {% endif %}

                    {% if session.authenticated and session.user_data['id'] == 0 %}
                    {% else %}
                    <div class="join-text">Followers
                        <div class="join-date">
                            <span>{{ follow_count['follow_count'] }}</span>
                        </div>
                    </div>
                    {% endif %}

                    {% if session.authenticated and session.user_data['id'] == 0 %}
                    {% else %}
                    {% if playstyle_names_str %}
                    <div class="join-text">Playing with
                        <div class="join-date">
                            {{ playstyle_names_str }}
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}


                    {% if session.authenticated and session.user_data['id'] == 0 %}
                    {% else %}
                    <transition name="click">
                        <div class="join-text" v-if='data.status.online == true'>Status
                            <div class="join-date" v-if='data.status.online == true'
                                :key="actionIntToStr(data.status.status)">
                                <% actionIntToStr(data.status.status) %>
                            </div>
                    </transition>
                </div>
                </template>
                {% endif %}


            </div>
        </div>
        <div class="bar-selection-badges badge-selects">

            {% macro location(user) %}
            {% if user['location_content'] != "" and user['location_content'] != None %}


            <span href="#" class="other-profile1">
                <i class="fa-solid fa-location-dot"></i>{{ user['location_content'] }}
            </span>


            {% endif %}
            {% endmacro %}
            {{ location(user) }}

            {% macro occupation(user) %}
            {% if user['occupation_content'] != "" and user['occupation_content'] != None %}


            <span href="#" class="other-profile1">
                <i class="fa-solid fa-suitcase"></i></i>{{ user['occupation_content'] }}
            </span>


            {% endif %}
            {% endmacro %}
            {{ occupation(user) }}

            {% macro interest(user) %}
            {% if user['interest_content'] != "" and user['interest_content'] != None %}


            <span href="#" class="other-profile1">
                <i class="fa-solid fa-heart"></i></i>{{ user['interest_content'] }}
            </span>


            {% endif %}
            {% endmacro %}
            {{ interest(user) }}
        </div>

        <!-- badge titles badges -->

        <div class="badges-list">
            {% for el in group_list %}
            <div class="profile-tag" style="background-color:{{ el[1] }} !important; vertical-align: middle;">
                <span>
                    {{ el[0] }}
                </span>
                <i class="fa-solid {{ el[2] }}"></i>
            </div>
            {% endfor %}
        </div>

        <!-- profile badges -->

        <!-- <div v-if="{{ user['id'] }} == 3">

            <div class="profile-badges1">

                <div class="profile-badge1">
                    <img title="longstanding contribution to the server"
                        src="https://komako.pw/static/images/badges/contributor.png">
                    <img title="longstanding quality beatmap nominations"
                        src="https://komako.pw/static/images/badges/elite-nominator.png">
                </div>

            </div>

        </div> -->
    </div>
        
    <div class="second-block">
        <div class="columns is-marginless two-sides">
            <div class="column">
                {{ userpage(user) }}
                {{ scores('Best Scores', 'best')}}
                {{ scores('Recent Scores', 'recent')}}
                {{ maps('Most Beatmaps Played', 'most')}}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom %}
<script src="/static/js/pages/profile.js"></script>
<script src="/static/js/asserts/vue-flags.js"></script>
{% if user['customisation']['banner'] == True or user['customisation']['background'] == True %}
<style>
    {% if user['customisation']['banner'] == True %}
        .profile-bg {
            min-height: 262px;
            background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%) 50% / cover, linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("/banners/3");
            background-size: cover;
            background-position-y: center;
        }
    {% endif %}
    {% if user['customisation']['background'] == True %}
        body {
            background: linear-gradient(hsl(var(--main), 25%, 25%, 20%), hsl(var(--main), 10%, 10%)), url("/backgrounds/{{ user['id'] }}");
            background-size: cover;
            background-clip: content-box;
        }
    {% endif %}
</style>
{% endif %}
{% endblock bottom %}
