{% extends 'base.html' %}
{% block title %} Profile {% endblock %}

{% macro userpage(user) %}
{% if user['userpage_content'] != "" and user['userpage_content'] != None %}
<div class="log-block" id="aboutme">
    <div class="header">
        <div class="title">
            <i class="fa-solid fa-address-card"></i> About me
        </div>
    </div>
    <div class="scores">
        {{ rendered_bbcode | safe }}
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro statsblock() %}
<div class="log-block"> <!-- stats block-->
    <div class="header">
        <div class="title">
            <i class="fas fa-chart-pie"></i> Statistics
        </div>
    </div>
    <div class="scores">
        <div class="stats-container">
            <div class="main-stats">
                <div class="rank-stats">
                    <div class="rank-stats-text">
                        Global Ranking<br>
                        <span>
                            <% '#' + data.stats.out[modegulag].rank %>
                        </span>
                    </div>
                    <div class="rank-stats-text">
                        Performance<br>
                        <span>
                            <% data.stats.out[modegulag].pp %>pp
                        </span>
                    </div>
                    <div class="rank-stats-text">
                        Playtime<br>
                        <span>
                            <% secondsToDhm(data.stats.out[modegulag].playtime) %>
                        </span>
                    </div>
                </div>
                <div class="graph-container">
                    <div style="height: 237.5px" id="stats-graph">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="main-stats">
                <div class="grade-stats">
                    <div class="rank-grade-text">
                        <div class="stats-grade"><span class="grade-txt grade-ss">SSH</span></div>
                        <span>
                            <% data.stats.out[modegulag].xh_count %>
                        </span>
                    </div>
                    <div class="rank-grade-text">
                        <div class="stats-grade"><span class="grade-txt grade-ss">SS</span></div>
                        <span>
                            <% data.stats.out[modegulag].x_count %>
                        </span>
                    </div>
                    <div class="rank-grade-text">
                        <div class="stats-grade"><span class="grade-txt grade-sh">SH</span></div>
                        <span>
                            <% data.stats.out[modegulag].sh_count %>
                        </span>
                    </div>
                    <div class="rank-grade-text">
                        <div class="stats-grade"><span class="grade-txt grade-s">S</span></div>
                        <span>
                            <% data.stats.out[modegulag].s_count %>
                        </span>
                    </div>
                    <div class="rank-grade-text">
                        <div class="stats-grade"><span class="grade-txt grade-a">A</span></div>
                        <span>
                            <% data.stats.out[modegulag].a_count %>
                        </span>
                    </div>
                </div>
                <div class="graph-container">
                    <div class="stats-single">
                        <div class="stats-title">
                            Ranked Score
                        </div>
                        <div class="stats-item">
                            <% addCommas(data.stats.out[modegulag].rscore) %>
                        </div>
                    </div>
                    <div class="stats-single">
                        <div class="stats-title">
                            Total Score
                        </div>
                        <div class="stats-item">
                            <% addCommas(data.stats.out[modegulag].tscore) %>
                        </div>
                    </div>
                    <div class="stats-single">
                        <div class="stats-title">
                            Max Combo
                        </div>
                        <div class="stats-item">
                            <% addCommas(data.stats.out[modegulag].max_combo) %>
                        </div>
                    </div>
                    <div class="stats-single">
                        <div class="stats-title">
                            Playcount
                        </div>
                        <div class="stats-item">
                            <% addCommas(data.stats.out[modegulag].plays) %>
                        </div>
                    </div>
                    <div class="stats-single">
                        <div class="stats-title">
                            Accuracy
                        </div>
                        <div class="stats-item">
                            <% formatAcc(data.stats.out[modegulag].acc) %>%
                        </div>
                    </div>
                    <div class="stats-single">
                        <div class="stats-title">
                            Replay Views
                        </div>
                        <div class="stats-item">
                            <% addCommas(data.stats.out[modegulag].replay_views) %>
                        </div>
                    </div>
                    <div class="level-section">
                        <div class="level-bar">
                            <div class="level-bar-fill"
                                :style="{ width: level_progress + '%', backgroundColor: 'hsl(var(--main), 90%, 55%)' }">
                            </div>
                        </div>
                        <span class="progress-text">
                            <% Math.round(level_progress) %>%
                        </span>
                    </div>
                    <span class="level-text">Level <% playerLevel %></span>
                </div>
            </div>
        </div>
    </div>
</div id="statistics">
{% endmacro %}

{% macro activblock() %}
{% if private_profile['private_mode'] == 1 and not session.authenticated or session.authenticated and session.user_data['id'] != user['id'] and relationship_exists == 'no' and private_profile['private_mode'] == 1 %}
{% else %}
<div class="log-block" id="recentact">
    <div class="header">
        <div class="title">
            <i class="fa-solid fa-clock-rotate-left"></i> Recent Activity
        </div>
    </div>
    <div class="scores">
        <div class="activity-content">
            {% if recent_activity %}
                {% for score_logs in recent_activity %}
                <span class="activity-text">
                    {% if score_logs.event == 'new_rank_1' %}
                    <i class="fa-solid fa-trophy"></i>
                    <a href="/u/{{ score_logs.user_id }}" class="act-player">{{ score_logs.name }}</a>
                    has achieved #1 on
                    <a href="/b/{{ score_logs.map_id }}" class="act-title">{{ score_logs.map_title }} [{{ score_logs.version }}]</a>
                    {{ mode_strings[score_logs.mode] }} <span class="date-text">{{ timeago.format(score_logs.timestamp) }}</span>
                    {% elif score_logs.event == 'sniped' %}
                    <i class="fa-solid fa-angles-down"></i>
                    <a href="/u/{{ score_logs.user_id }}" class="act-player">{{ score_logs.name }}</a>
                    has lost first place on
                    <a href="/b/{{ score_logs.map_id }}" class="act-title">{{ score_logs.map_title }} [{{ score_logs.version }}]</a>
                    {{ mode_strings[score_logs.mode] }} <span class="date-text">{{ timeago.format(score_logs.timestamp) }}</span>
                    {% else %}
                    Error: Unknown event
                    {% endif %}
                </span>
                {% endfor %}
            {% else %}
                No recent activity
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro scores(title) %}
<div class="log-block" v-bind:class="{ 'load' : data.scores.best.load || data.scores.first.load }" id="performance">
    <div class="header">
        <div class="title">
            <i class="fas fa-star"></i> {{ title }}
        </div>
    </div>
    <div v-if="data.scores.best.out.length > 0 || data.scores.first.out.length > 0" class="scores">
        <!-- Best Scores Section -->
        <div v-if="data.scores.best.out.length > 0" class="performance-block">
            <div class="score-title-block">
                <div class="score-type1-title">
                    <i class="fa-solid fa-trophy" style="margin-right: 8px;"></i>Top Scores
                </div>
                <div class="total-count">
                    <% totalScoreCount %>
                </div>
            </div>
            <div class="scores-container">
                <div v-for="(map, index) in data.scores.best.out" class="map-single"
                    :style="`background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%) 50% center / cover, linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(https://assets.ppy.sh/beatmaps/${map.beatmap.set_id}/covers/cover.jpg); background-size: cover; border-radius: 18px;`">
                    <!-- Best Scores Content -->
                    <div class="map-data">
                        <div class="map-content1">
                            <div class="score-details_grade-block">
                                <div class="rank-single">
                                    <div v-bind:class="'map-rank rank-'+map.grade">
                                        <% map.grade.replace("X", "SS" ).replace("H", "" ) %>
                                    </div>
                                </div>
                            </div>
                            <div class="map-title-block">
                                <div class="map-title">
                                    <a class="beatmap-link" v-bind:href="'https://{{ domain() }}/b/' + map.beatmap.id">
                                        <% map.beatmap.artist %> - <% map.beatmap.title %>
                                    </a>
                                </div>
                                <div class="map-title-time">
                                    <div class="diff-title">
                                        <% map.beatmap.version %>
                                    </div>
                                    <div class="map-date">
                                        <% timeago.format(map.play_time) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="map-content2">
                            <div class="score-details d-flex">
                                <div class="score-details_right-block">
                                    <div class="score-details_mods-block">
                                        <div class="map-mods" v-if="map.mods_readable != 'NM'">
                                            <template v-for="(modPair, index) in getModPairs(map.mods_readable)">
                                                <img v-bind:src="getModIconUrl(modPair)" :key="index">
                                            </template>
                                        </div>
                                    </div>
                                    <div class="score-details_pp-block">
                                        <div class="map-pp">
                                            <% map.pp.toFixed(0) %><span class="map-pp-unit">pp</span>
                                        </div>
                                        <div class="map-acc">accuracy:&nbsp;<b>
                                                <% map.acc.toFixed(2) %>%
                                            </b></div>
                                    </div>
                                    <div class="score-menu-btn" v-bind:data--score-id="map.id"
                                        onclick="scoreMenu(this);">
                                        <i class="fa-solid fa-lg fa-ellipsis-vertical"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if private_profile['private_mode'] == 1 and not session.authenticated or session.authenticated and session.user_data['id'] != user['id'] and relationship_exists == 'no' and private_profile['private_mode'] == 1 %}
                {% else %}
                <div v-if="data.scores.best.more.full == false" class="extra-block">
                    <a class="show-button" @click="AddLimit('bestscore')">Show more</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div v-else class="stats-block">
            <div class="columns is-marginless">
                <div class="column is-1">
                    <h1 class="title">: (</h1>
                </div>
                <div class="column">
                    <h1 class="title is-6">No scores available</h1>
                    <p class="subtitle is-7">Try playing something?</p>
                </div>
            </div>
        </div>
    {% if private_profile['private_mode'] == 1 and not session.authenticated or session.authenticated and session.user_data['id'] != user['id'] and relationship_exists == 'no' and private_profile['private_mode'] == 1 %}
        {% else %}
        <!-- First Place Scores Section -->
        <div class="score-type-title">
            <div class="score-title-block" style="margin: 0;">
                <div class="score-type1-title">
                    <i class="fa-solid fa-ranking-star" style="margin-right: 8px;"></i>First Place Ranks
                </div>
                <div class="total-count">
                    <% firstPlaces %>
                </div>
            </div>
        </div>
        <div v-if="data.scores.first.out.length > 0" class="performance-block">
            <div class="scores-container">
                <div v-for="(map, index) in data.scores.first.out" class="map-single" :style="`background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%) 50% center / cover, linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(https://assets.ppy.sh/beatmaps/${map.beatmap.set_id}/covers/cover.jpg); background-size: cover; border-radius: 18px;`">
                    <!-- First Place Scores Content -->
                    <div class="map-data">
                        <div class="map-content1">
                            <div class="score-details_grade-block">
                                <div class="rank-single">
                                    <div v-bind:class="'map-rank rank-'+map.grade">
                                        <% map.grade.replace("X", "SS" ).replace("H", "" ) %>
                                    </div>
                                </div>
                            </div>
                            <div class="map-title-block">
                                <div class="map-title">
                                    <a class="beatmap-link" v-bind:href="'https://{{ domain() }}/b/' + map.beatmap.id">
                                        <% map.beatmap.artist %> - <% map.beatmap.title %>
                                    </a>
                                </div>
                                <div class="map-title-time">
                                    <div class="diff-title">
                                        <% map.beatmap.version %>
                                    </div>
                                    <div class="map-date">
                                        <% timeago.format(map.play_time) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="map-content2">
                            <div class="score-details d-flex">
                                <div class="score-details_right-block">
                                    <div class="score-details_mods-block">
                                        <div class="map-mods" v-if="map.mods_readable != 'NM'">
                                            <template v-for="(modPair, index) in getModPairs(map.mods_readable)">
                                                <img v-bind:src="getModIconUrl(modPair)" :key="index">
                                            </template>
                                        </div>
                                    </div>
                                    <div class="score-details_pp-block">
                                        <div class="map-pp">
                                            <% map.pp.toFixed(0) %><span class="map-pp-unit">pp</span>
                                        </div>
                                        <div class="map-acc">accuracy:&nbsp;<b>
                                                <% map.acc.toFixed(2) %>%
                                            </b></div>
                                    </div>
                                    <div class="score-menu-btn" v-bind:data--score-id="map.id"
                                        onclick="scoreMenu(this);">
                                        <i class="fa-solid fa-lg fa-ellipsis-vertical"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="data.scores.first.more.full == false" class="extra-block">
                    <a class="show-button" @click="AddLimit('firstscore')">Show more</a>
                </div>
            </div>
        </div>
        <div v-else class="performance-block">
            <div class="no-scores-block">
                <div class="no-scores">
                    <div class="columns is-marginless">
                        <div class="column is-1">
                            <h1 class="title">: (</h1>
                        </div>
                        <div class="column">
                            <h1 class="title is-6">No recent scores available</h1>
                            <p class="subtitle is-7">Try playing something?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<div v-else class="stats-block">
    <div class="columns is-marginless">
        <div class="column is-1">
            <h1 class="title">: (</h1>
        </div>
        <div class="column">
            <h1 class="title is-6">No scores available</h1>
            <p class="subtitle is-7">Try playing something?</p>
        </div>
    </div>
</div>
</div>
{% endmacro %}

{% macro recent() %}
{% if private_profile['private_mode'] == 1 and not session.authenticated or session.authenticated and session.user_data['id'] != user['id'] and relationship_exists == 'no' and private_profile['private_mode'] == 1 %}
{% else %}
<div class="log-block" v-bind:class="{ 'load' : data.scores.recent.load }" id="recent">
    <div class="header">
        <div class="title">
            <i class="fa-solid fa-clock-rotate-left"></i> Recent
        </div>
    </div>
    <!-- Recent Scores Section -->
    <div class="scores">
        <div class="score-type-title" style="margin-top: 10px;">
            <div class="score-type-left">
                <div class="score-title-block" style="margin: 0;">
                    <div class="score-type1-title">
                        <i class="fa-solid fa-clock-rotate-left" style="margin-right: 8px;"></i>Recent Scores (48h)
                    </div>
                </div>
            </div>
            <div class="score-type-right">
                <div class="failedcheckbox">
                    <input @click="LoadScores('recent')" type="checkbox" id="hidefailed">
                    <label>Toggle failed scores</label>
                </div>
            </div>
        </div>
        <div v-if="data.scores.recent.out.length > 0" class="performance-block">
            <div class="scores-container">
                <div v-for="(map, index) in data.scores.recent.out" class="map-single" :style="`background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%) 50% center / cover, linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(https://assets.ppy.sh/beatmaps/${map.beatmap.set_id}/covers/cover.jpg); background-size: cover; border-radius: 18px;`">
                    <!-- Recent Scores Content -->
                    <div class="map-data">
                        <div class="map-content1">
                            <div class="score-details_grade-block">
                                <div class="rank-single">
                                    <div v-bind:class="'map-rank rank-'+map.grade">
                                        <% map.grade.replace("X", "SS" ).replace("H", "" ) %>
                                    </div>
                                </div>
                            </div>
                            <div class="map-title-block">
                                <div class="map-title">
                                    <a class="beatmap-link" v-bind:href="'https://{{ domain() }}/b/' + map.beatmap.id">
                                        <% map.beatmap.artist %> - <% map.beatmap.title %>
                                    </a>
                                </div>
                                <div class="map-title-time">
                                    <div class="diff-title">
                                        <% map.beatmap.version %>
                                    </div>
                                    <div class="map-date">
                                        <% timeago.format(map.play_time) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="map-content2">
                            <div class="score-details d-flex">
                                <div class="score-details_right-block">
                                    <div class="score-details_mods-block">
                                        <div class="map-mods" v-if="map.mods_readable != 'NM'">
                                            <template v-for="(modPair, index) in getModPairs(map.mods_readable)">
                                                <img v-bind:src="getModIconUrl(modPair)" :key="index">
                                            </template>
                                        </div>
                                    </div>
                                    <div class="score-details_pp-block">
                                        <div class="map-pp">
                                            <% map.pp.toFixed(0) %><span class="map-pp-unit">pp</span>
                                        </div>
                                        <div class="map-acc">accuracy:&nbsp;<b>
                                                <% map.acc.toFixed(2) %>%
                                            </b></div>
                                    </div>
                                    <div class="score-menu-btn" v-bind:data--score-id="map.id"
                                        onclick="scoreMenu(this);">
                                        <i class="fa-solid fa-lg fa-ellipsis-vertical"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="data.scores.recent.more.full == false" class="extra-block">
                    <a class="show-button" @click="AddLimit('recentscore')">Show more</a>
                </div>
            </div>
        </div>
        <div v-else class="performance-block">
            <div class="no-scores-block">
                <div class="no-scores">
                    <div class="columns is-marginless">
                        <div class="column is-1">
                            <h1 class="title">: (</h1>
                        </div>
                        <div class="column">
                            <h1 class="title is-6">No recent scores available</h1>
                            <p class="subtitle is-7">Try playing something?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro maps(title) %}
{% if private_profile['private_mode'] == 1 and not session.authenticated or session.authenticated and session.user_data['id'] != user['id'] and relationship_exists == 'no' and private_profile['private_mode'] == 1 %}
{% else %}
<div class="log-block" v-bind:class="{ 'load' : data.maps.most.load || data.scores.recent.load }" id="historical">
    <div class="header">
        <div class="title">
            <i class="fa-solid fa-chart-column"></i> Historical
        </div>
    </div>
    <div v-if="data.maps.most.out.length > 0" class="scores">
        <!-- most played section -->
        <div class="performance-block" v-if="data.maps.most.out.length != 0">
            <div class="score-title-block" style="padding-bottom: 10px;">
                <div class="score-type1-title">
                    <i class="fa-solid fa-address-book" style="margin-right: 8px;"></i>Most Played Beatmaps
                </div>
                <div class="total-count">
                    <% data.maps.most.out[0].total_maps_played %>
                </div>
            </div>
            <div class="scores-container">
                <div class="mostplayed_grid">
                    <a v-for="(map, index) in data.maps.most.out" v-bind:href="'/b/' + map.id" class="mostplayed_block">
                        <div class="mostplayed_placeholder bg-placeholder"></div>
                        <div class="mostplayed_card"
                            :style="`background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%) 50% center / cover, linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(https://assets.ppy.sh/beatmaps/${map.set_id}/covers/cover.jpg); background-size: cover;`">
                            <div class="mostplayed_content">
                                <div class="map-rank" style="margin-right: -0.5em !important;">
                                    <i v-if="map.status === 0" class="fas fa-question"
                                        style="color: #ffffff; font-size: 1.2em; margin-right: 0.5em;"></i>
                                    <i v-if="map.status === 2" class="fa-solid fa-angles-up"
                                        style="color: #0080ff; font-size: 1.2em; margin-right: 0.5em;"></i>
                                    <i v-if="map.status === 3" class="fas fa-check"
                                        style="color: #00cc00; font-size: 1.2em; margin-right: 0.5em;"></i>
                                    <i v-if="map.status === 5" class="fas fa-heart"
                                        style="color: #ff69b4; font-size: 1.2em; margin-right: 0.5em;"></i>
                                </div>
                                <div class="mostplayed_songname text-wrap">
                                    <span
                                        style="cursor: pointer;text-decoration: none;transition: all .2s ease;"
                                        class="songname_title text-wrap beatmap-link"
                                        v-bind:href="'https://{{ domain() }}/b/' + map.id">
                                        <% map.artist %> - <% map.title %>
                                    </span>
                                    <div>
                                        <span class="songname_version text-wrap">
                                            <% map.version %>
                                        </span>
                                    </div>
                                </div>
                                <span class="fas fa-play"></span><span style="font-weight: 500;font-size: 20px;">&nbsp; <%
                                        map.plays %></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div v-if="data.maps.most.more.full == false" class="extra-block" id="nyan">
                    <a class="show-button" @click="AddLimit('mostplay')">show more</a>
                </div>
            </div>
        </div>
        <div v-else-if="data.maps.most.out.length == 0" class="stats-block">
            <div class="columns is-marginless">
                <div class="column is-1">
                    <h1 class="title">: (</h1>
                </div>
                <div class="column">
                    <h1 class="title is-6">no maps attempted</h1>
                    <p class="subtitle is-7">try playing something?</p>
                </div>
            </div>
        </div>
        <div class="performance-block">
            <div class="score-title-block">
                <div class="score-type1-title">
                    <i class="fa-solid fa-heart" style="margin-right: 8px;"></i>Favourite Maps
                </div>
                <div class="total-count">
                    {{ favourites_count['fav_count'] }}
                </div>
            </div>

            {% if favourites_data and favourites_data != [] %}

            <div class="scores-container">
                {% for data in favourites_data %}
                <div class="map-single"
                    :style="`background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%) 50% center / cover, linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(https://assets.ppy.sh/beatmaps/{{ data['setid'] }}/covers/cover.jpg); background-size: cover; border-radius: 18px; background-size': cover;`">

                    <div class="map-data">
                        <div class="map-content1">
                            <div class="map-rank" style="margin-left: 0.2em;margin-right: -0.5em !important;">
                                <i v-if="{{ data['status'] }} === 0" class="fas fa-question"
                                    style="color: #ffffff; font-size: 1.2em; margin-right: 0.5em;"></i>
                                <i v-if="{{ data['status'] }} === 2" class="fa-solid fa-angles-up"
                                    style="color: #0080ff; font-size: 1.2em; margin-right: 0.5em;"></i>
                                <i v-if="{{ data['status'] }} === 3" class="fas fa-check"
                                    style="color: #00cc00; font-size: 1.2em; margin-right: 0.5em;"></i>
                                <i v-if="{{ data['status'] }} === 5" class="fas fa-heart"
                                    style="color: #ff69b4; font-size: 1.2em; margin-right: 0.5em;"></i>
                            </div>
                            <div class="map-title-block">
                                <div class="map-title">
                                    <a class="beatmap-link"
                                        v-bind:href="'https://osu.ppy.sh/beatmapsets/' + {{ data['setid'] }}">
                                        {{ data['artist'] }} - {{ data['title'] }}
                                        {{ data['creator'] }}
                                    </a>
                                    <div class="play-stats">
                                        mapped by {{ data['creator'] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="map-content2">
                            <div class="score-details d-flex">
                                <div class="score-details_right-block">
                                    <div class="score-details_pp-block">
                                        <div class="play-stats">added
                                            {{ timeago.format(data['created_at']) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="log-block">
    <div class="performance-block">
        <div class="no-scores-block">
            <div class="no-scores">
                <div class="columns is-marginless">
                    <div class="column is-1">
                        <h1 class="title">: (</h1>
                    </div>
                    <div class="column">
                        <h1 class="title is-6">No favourites found</h1>
                        <p class="subtitle is-7">Try adding one?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endif %}

</div>
</div>
{% endif %}
{% endmacro %}

{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<link rel="stylesheet" href="/static/css/pages/profile.css">

<script>
    var userid = Number("{{ user['id'] }}"); //For text editor doesn't dizzy lmao
    var mode = '{{ mode }}';
    var mods = '{{ mods }}';
    var domain = "{{ domain() }}";
</script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="main-block">
        <div class="userprofile-heading">
            <span class="heading-title"><i class="fa-regular fa-address-card" style="font-size: 21px;"></i><span>player
                    info</span></span>

            <div class="heading-selector">
                <a v-bind:class=" { 'selected': mods === 'vn' }" @click="ChangeModeMods(mode,'vn')" class="mode-select">
                    <span><i class="mode-icon osu"></i></span>
                </a>

                <a v-bind:class=" { 'selected': mods === 'rx', 'disabled': mode === 'mania' }"
                    @click="ChangeModeMods(mode,'rx')" class="mode-select">
                    <span><i class="fa-solid fa-martini-glass-citrus"></i></span>
                </a>

                <a v-bind:class=" { 'selected': mods === 'ap', 'disabled': mode === 'taiko' || mode === 'catch' || mode === 'mania'  }"
                    @click="ChangeModeMods(mode,'ap')" class="mode-select">
                    <span><i class="fa-solid fa-plane"></i></span>
                </a>
            </div>
            <div class="heading-selector">
                <a v-bind:class="{ 'selected': mode === 'std' }" @click="ChangeModeMods('std',mods)"
                    class="mode-select">
                    <span><i class="mode-icon osu"></i></span>
                </a>

                <a v-bind:class="{ 'selected': mode === 'taiko', 'disabled': mods === 'ap' }"
                    @click="ChangeModeMods('taiko',mods)" class="mode-select">
                    <span class="fal fa-extra-mode-taiko"></span>
                </a>

                <a v-bind:class="{ 'selected': mode === 'catch', 'disabled': mods === 'ap' }"
                    @click="ChangeModeMods('catch',mods)" class="mode-select"><span
                        class="fal fa-extra-mode-ctb"></span>
                </a>

                <a v-bind:class="{ 'selected': mode === 'mania', 'disabled': mods === 'ap' || mods === 'rx' }"
                    @click="ChangeModeMods('mania',mods)" class="mode-select"><span
                        class="fal fa-extra-mode-mania"></span>
                </a>
            </div>
        </div>
        <div class="profile-bg"
            style="min-height: 262px; background: url('/banners/{{ user['id'] }}'); background-size: cover; background-position-y: center;"
            onError="this.onerror=null; this.src='/banners/c6.jpg';">
            <div class="rank-banner-block anime-girl">
                <div class="global-rank">
                    <span class="global-txt"><img src="/static/images/globe.svg" class="rank-profile-flag"
                            style="height:22px;">
                        <% '#' + data.stats.out[modegulag].rank %>
                    </span>
                </div>
                <div class="country-rank">
                    <span class="country-txt"><img src="/static/images/flags/{{ user['country']|upper }}.png"
                            class="rank-profile-flag">
                        <% '#' + data.stats.out[modegulag].country_rank %>
                    </span>
                </div>
            </div>
            <transition name="click">
                <div class="online-infomation" v-if='data.status.online == true'
                    :key="actionIntToStr(data.status.status)">
                    <% actionIntToStr(data.status.status) %>
                </div>
            </transition>
        </div>
        <div class="userprofile_body">
            <div class="d-flex">
                {% if user['priv'] in [31767, 33556499, 33554451, 19, 33586199, 33554455] %}
                <div class="left-avatar user-avatar support-pfp left-avatar-support">
                    <img src="https://a.{{ domain() }}/{{ user['id'] }}">
                </div>
                {% else %}
                <div class="left-avatar user-avatar">
                    <img src="https://a.{{ domain() }}/{{ user['id'] }}">
                </div>
                {% endif %}

                <div class="d-flex flex-column align-items-baseline">

                    {% macro username(user) %}
                    {% if user['username_aka'] is not none and user['username_aka'] != '' %}
                    <p class="username_aka">
                        (A.K.A {{ user['username_aka'] }})
                    </p>
                    {% endif %}
                    {% endmacro %}

                    {{ username(user) }}

                    <div class="left-name" style="display: flex; align-items: center;">
                        <span v-if="{{ user['id'] }} == 3" class="bgf user-name"
                            style="text-shadow: rgb(190, 196, 255) 0px 0px 8px; color: rgb(255, 255, 255); background: url(https://dl.issou.best/ordr/assets/text_bg/text_bg3.gif);">Lionz</span>
                        <div v-else="" class="user-name bgf">{{ user['name'] }}</div>

                        {% if user['priv'] in [31767, 33556499, 33554451, 19, 33586199, 33554455] %}
                        <div class="verify-block" style="display: flex; align-items: center;">
                            <img src="/static/images/supporter.svg" style="width: 20px;">
                        </div>
                        {% else %}
                        {% endif %}

                        <div class="verify-block" style="display: flex; align-items: center;"
                            v-if="{{ user['id'] }} == 3">
                            <img src="/static/images/verified.svg" style="width: 20px;">
                        </div>

                        {% if session.authenticated and session.user_data['is_staff'] %}
                        <div class="verify-block">
                            <a :href="'/admin/users/edit/' + {{ user['id'] }}">&nbsp;
                                <i class="fa-solid fa-pen-to-square" style="font-size: 18px; color: #469BFF;"></i>
                            </a>
                        </div>

                        {% if user.priv == 1 %}
                        &nbsp;&nbsp;<div class="verify-block">
                            <a>
                                <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>
                                <span>&nbsp;restricted</span>
                            </a>
                        </div>
                        {% endif %}

                        {% if user.priv == 2 %}
                        &nbsp;&nbsp;<div class="verify-block">
                            <a>
                                <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>
                                <span>&nbsp;restricted</span>
                            </a>
                        </div>
                        {% endif %}

                        {% if user.priv == 33554434 %}
                        &nbsp;&nbsp;<div class="verify-block">
                            <a>
                                <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>
                                <span>&nbsp;restricted</span>
                            </a>
                        </div>
                        {% endif %}

                        {% endif %}
                    </div>

                    <div class="left-flag">
                        <a><img v-if="{{ user['id'] }} == 3"
                                src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Flag_of_Groningen.svg"
                                class="profile-flag">
                        </a>
                        <img src="/static/images/flags/{{ user['country']|upper }}.png" class="profile-flag">
                        <span>
                            <% flags{{ [user['country']|upper] }} %>
                        </span>

                    </div>
                </div>
            </div>
            <!-- private mode notification -->
            {% if private_profile['private_mode'] == 1 and not session.authenticated or session.authenticated and session.user_data['id'] != user['id'] and relationship_exists == 'no' and private_profile['private_mode'] == 1 %}
            <div class="private-block">
                <div class="private-content" data-title="Ask them to add you as a friend if you want to see more details">
                    <i class="fa-solid fa-lock"></i>
                    <span class="private-text">Private Profile</span>
                </div>
            </div>
            {% elif private_profile['private_mode'] == 0 and not session.user_data['id'] == user['id'] and session.authenticated and session.user_data[id] != user['id'] and is_friends == 'no' %}<!--if visitor = friends w/ current profile page-->
            <div class="private-block" id="add">
                <div class="add-content">
                    <i class="fa-solid fa-user-plus"></i>
                    <span class="private-text">Add Friend</span>
                </div>
            </div>
            {% elif private_profile['private_mode'] == 1 and not session.user_data['id'] == user['id'] and session.authenticated and session.user_data[id] != user['id'] and is_friends == 'no' %}<!--if visitor = friends w/ current profile page (no & private true)-->
            <div class="private-block">
                <div class="private-content" data-title="Ask them to add you as a friend if you want to see more details">
                    <i class="fa-solid fa-lock"></i>
                    <span class="private-text">Private Profile</span>
                </div>
            </div>
            {% elif private_profile['private_mode'] == 0 and not session.user_data['id'] == user['id'] and session.authenticated and session.user_data[id] != user['id'] and is_friends == 'yes' %}<!--if visitor = friends w/ current profile page (yes)-->
            <div class="private-block">
                <div class="remove-content">
                    <i class="fa-solid fa-user-minus"></i>
                    <span class="private-text">Remove Friend</span>
                </div>
            </div>
            {% else %}
            {% endif %}
        </div>
        <div class="ranks-block">
            <div class="d-flex flex-wrap">
                <div class="left-join">
                    <div class="join-text">Joined
                        <div title="{{ user['creation_time'] }}" class="join-date">
                            <span>{{ timeago.format(user['creation_time']) }}</span>
                        </div>
                    </div>
                    {% if session.authenticated and session.user_data['id'] == 0 %}
                    {% else %}
                    <div class="join-text">Last seen
                        <div title="{{ user['latest_activity'] }}" class="join-date">
                            <span>{{ timeago.format(user['latest_activity']) }}</span>
                        </div>
                    </div>
                    {% endif %}

                    {% if session.authenticated and session.user_data['id'] == 0 %}
                    {% else %}
                    <div class="join-text">Followers
                        <div class="join-date">
                            <span>{{ follow_count['follow_count'] }}</span>
                        </div>
                    </div>
                    {% endif %}

                    {% if session.authenticated and session.user_data['id'] == 0 %}
                    {% else %}
                    {% if playstyle_names_str %}
                    <div class="join-text">Playing with
                        <div class="join-date">
                            {{ playstyle_names_str }}
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}


                    {% if session.authenticated and session.user_data['id'] == 0 %}
                    {% else %}
                    <transition name="click">
                        <div class="join-text" v-if='data.status.online == true'>Status
                            <div class="join-date" v-if='data.status.online == true'
                                :key="actionIntToStr(data.status.status)">
                                <% actionIntToStr(data.status.status) %>
                            </div>
                    </transition>
                </div>
                {% endif %}


            </div>
        </div>
        <div class="bar-selection-badges badge-selects">

            {% macro location(user) %}
            {% if user['location_content'] != "" and user['location_content'] != None %}


            <span href="#" class="other-profile1">
                <i class="fa-solid fa-location-dot"></i>{{ user['location_content'] }}
            </span>


            {% endif %}
            {% endmacro %}
            {{ location(user) }}

            {% macro occupation(user) %}
            {% if user['occupation_content'] != "" and user['occupation_content'] != None %}


            <span href="#" class="other-profile1">
                <i class="fa-solid fa-suitcase"></i></i>{{ user['occupation_content'] }}
            </span>


            {% endif %}
            {% endmacro %}
            {{ occupation(user) }}

            {% macro interest(user) %}
            {% if user['interest_content'] != "" and user['interest_content'] != None %}


            <span href="#" class="other-profile1">
                <i class="fa-solid fa-heart"></i></i>{{ user['interest_content'] }}
            </span>


            {% endif %}
            {% endmacro %}
            {{ interest(user) }}
        </div>

        <!-- badge titles badges -->

        <div class="badges-list">
            {% for el in group_list %}
            <div class="profile-tag" style="background-color:{{ el[1] }} !important; vertical-align: middle;">
                <span>
                    {{ el[0] }}
                </span>
                <i class="fa-solid {{ el[2] }}"></i>
            </div>
            {% endfor %}
        </div>

        <!-- profile badges -->

        <!-- <div v-if="{{ user['id'] }} == 3">

            <div class="profile-badges1">

                <div class="profile-badge1">
                    <img title="longstanding contribution to the server"
                        src="https://komako.pw/static/images/badges/contributor.png">
                    <img title="longstanding quality beatmap nominations"
                        src="https://komako.pw/static/images/badges/elite-nominator.png">
                </div>

            </div>

        </div> -->
    </div>

    {% if user['id'] == 3 %} <!-- tournament badges -->
    <!-- <div class="badge-container">
        <div class="tourney-badge" style="background: url(/static/images/badges/test-badge.png); background-size: cover; background-position: center;"></div>
    </div> -->
    {% else %}
    {% endif %}

    <div class="quick-nav">
        <div class="quick-nav-block">
            <a class="quick-nav-item" href="#recentact">Activity</a>
            <a class="quick-nav-item" href="#performance">Performance</a>
            <a class="quick-nav-item" href="#recent">Recent</a>
            <a class="quick-nav-item" href="#historical">Historical</a>
            <a class="quick-nav-item" href="#">Achievements</a>
        </div>
    </div>
    <div class="second-block">
        <div class="columns is-marginless two-sides">
            <div class="column">
                {{ userpage(user) }}
                {{ statsblock() }}
                {{ activblock() }}
                {{ scores('Performance')}}
                {{ recent()}}
                {{ maps('Historical')}}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block bottom %}
<script src="/static/js/asserts/vue-flags.js"></script>
<script src="/static/js/pages/profilebbcode.js"></script>
<script src="/static/js/pages/profile.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% if user['customisation']['banner'] == True or user['customisation']['background'] == True %}
<style>
    {
        % if user['customisation']['banner']==True %
    }

    .profile-bg {
        min-height: 262px;
        background: linear-gradient(rgba(71, 67, 67, 0.5) 0%, rgba(71, 67, 67, 0) 100%) 50% / cover, linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("/banners/3");
        background-size: cover;
        background-position-y: center;
    }

        {
        % endif %
    }

        {
        % if user['customisation']['background']==True %
    }

    body {
        background: linear-gradient(hsl(var(--main), 25%, 25%, 20%), hsl(var(--main), 10%, 10%)),
        url("/backgrounds/{{ user['id'] }}");
        background-size: cover;
        background-clip: content-box;
    }

        {
        % endif %
    }
</style>
{% endif %}
{% endblock bottom %}