<nav id="navbar" class="navbar is-primary">
    <div class="navbar-content">
        <div class="navbar-brand">
            <a class="navbar-item navbar-logo" href="/">
                <img src="https://komako.pw/static/favicon/logo.png" alt="Komako">
            </a>
        
            <a role="button" class="navbar-burger" id="navbar-burger" onclick="togglenavbar()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item navtem" href="/leaderboard">
                    leaderboards
                </a>
                
                <a class="navbar-item navtem" href="/maps">
                    beatmaps
                </a>
            
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link navtem">
                        community
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="#">
                            <i class="fa-solid fa-newspaper"></i>&nbsp; news
                        </a>
                        <a class="navbar-item" href="#">
                            <i class="fa-solid fa-gamepad"></i>&nbsp; tournaments
                        </a>
                        <a class="navbar-item" href="#">
                            <i class="fa-solid fa-video"></i>&nbsp; livestreams
                        </a>
                        {% if session.authenticated %}
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="https://discord.gg/8fabsvYBhx" target="_blank">
                            <i class="fa-brands fa-discord"></i>&nbsp; discord
                        </a>
                        {% endif %}
                    </div>
                </div>
            
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link navtem">
                        help
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/documentation/rules">
                            <i class="fa-solid fa-gavel"></i>&nbsp; rules
                        </a>
                        <a class="navbar-item" href="/documentation/connect">
                            <i class="fa-solid fa-rss"></i>&nbsp; connect
                        </a>
                        <a class="navbar-item" href="/documentation/privacy">
                            <i class="fa-solid fa-user-secret"></i>&nbsp; privacy policy
                        </a>
                        <a class="navbar-item" href="/documentation">
                            <i class="fa-solid fa-book"></i>&nbsp; documentation
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/team">
                            <i class="fa-solid fa-people-group"></i>&nbsp; team
                        </a>
                    </div>
                </div>
            
                {% if session.authenticated and session.user_data['is_staff'] %}
                <a class="navbar-item navtem" href="/admin">
                    <i class="fa-solid fa-gear"></i>&nbsp; admin
                </a>
                {% endif %}
            </div>
        
            <div class="navbar-end">
                {% if session.authenticated %}
            
                <div class="navbar-item">
                    <div class="search-bar">
                        <input id="search-txt" type="text" placeholder="Looking for someone?">
                        <button onclick=search()><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <div id="search-results" class="search-results">
                    <script>
                        $('#search-results').hide();
                    </script>
                    </div>
                </div>
                
                <a href="/support" class="header-button druzban-button router-link " data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Support us!"><i class="fas fa-heart"></i></a>
                <div class="navbar-item navtem nav-profile has-dropdown is-hoverable" style="margin: 0 0.5em !important;">
                    <a class="header-avatar" style="background-image:url('https://a.{{ domain() }}/{{ session.user_data['id'] }}');"></a>
                    <a class="navbar-link" style=":hover {background-color: transparent;}">
                    {{ session.user_data['name'] }}
                    </a>
                    <div class="navbar-dropdown navbar-dropdown-profile">
                        <div class="user-card-block">
                            <a href="/u/{{ session.user_data['id'] }}" class="user-card bordered d-flex">
                                <div class="user-dropdown-avatar" style="background-image: url('https://a.{{ domain() }}/{{ session.user_data['id'] }}');"></div>
                                <div class="text-wrap user-card-data d-flex flex-column ">
                                    <span class="user-card_username">{{ session.user_data['name'] }}</span>
                                    <span class="user-card_subtitle twemoji" style="padding: 0px; white-space: pre-line;">{{ session.user_data['stats']['pp'] }}pp</span>
                                    <span class="user-card-data_angle"><i class="fa-solid fa-angle-right"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="user-dropdown-content">
                            <a class="navbar-item prof-navtem" href="/friends">
                                <i class="fa-solid fa-heart"></i>&nbsp; friends
                            </a>
                            <a class="navbar-item prof-navtem" href="/settings">
                                <i class="fa-solid fa-gear"></i>&nbsp; settings
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item prof-navtem" href="/logout">
                                <i class="fa-solid fa-door-open"></i>&nbsp; logout
                            </a>
                        </div>
                    </div>
                {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/register">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/login">
                            Log in
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>

    <script src='/static/js/search.js'></script>

</nav>
